<div class="py-8 py-md-12 bg-white">
    <div class="container">
        <div class="d-flex border-bottom border-info-300 pb-4 pb-md-8 mb-4 mb-md-8 flex-column flex-lg-row">
            <a href="../pages/index.html"><img src="../assets/img/logo_snow pick_footer.png" alt="icon" class="me-lg-12 me-xl-19 mb-4 mb-lg-0" style="width: 236px;"></a>
            <div class="me-auto mb-4 mb-lg-0 contact">
                <p class="source-sans-pro ls-1 fs-md-6 ">聯絡地址 : 新北市中山區天龍路999號5樓</p>  
                <p class="source-sans-pro ls-1 fs-md-6 ">聯絡電話 : <a href="tel:0299999999" class="text-info-200">(02) 9999-9999</a></p>
                <p class="source-sans-pro ls-1 fs-md-6 ">客服信箱 : <a href="mailto:snowpick@gmail.com" class="text-info-200">snowpick@gamil.com</a></p>
            </div>
            <div class="social-media">
                <a href="#"><img src="../assets/img/fb.png" alt="fb"></a>
                <a href="#" class="mx-4"><img src="../assets/img/ig.png" alt="ig"></a>
                <a href="#"><img src="../assets/img/social_line.png" alt="lind"></a>
            </div>
        </div>
        <div class="d-flex justify-content-between flex-column flex-lg-row">
            <p class="mb-2 mb-lg-0">本網站僅供個人作品使用，不提供商業用途</p>
            <p>Copyright © 2024 oscar.</p>
        </div>        
    </div>
</div>