<nav class="navbar navbar-expand-md fixed-top" style="z-index: 100;">
    <div class="container">
      <a class="navbar-brand py-1 d-none d-md-block" href="index.html"><img src="../assets/images/logo_snow pick.png" alt="logo"></a>
      <a class="navbar-brand py-1 d-md-none" href="index.html"><img src="../assets/images/logo_snow pick_s.png" alt="logo"></a>
      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi bi-list open fs-3 align-middle ms-auto text-white"></i>
        <i class="bi bi-x-lg close align-middle ms-auto fs-4 text-white"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-md-auto mb-md-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link fs-9 text-info-100 fs-md-6 ls-1 px-md-6 py-md-4" href="#">滑雪行程</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-9 text-info-100 fs-md-6 ls-1 px-md-6 py-md-4 mx-lg-4" href="#">雪場介紹</a>
          </li>
          <li class="nav-item login">
            <a class="nav-link fs-9 text-info-100 fs-md-6 ls-1 px-md-6 py-md-4" href="#">註冊/登入</a>
          </li>
        </ul>
      </div>
    </div>
</nav>