<div class="border-bottom border-info-300">
  <nav class="content-nav navbar py-0 navbar-expand-lg" style="z-index: 100;">
    <div class="container header-dropdown position-relative">
      <a class="navbar-brand py-3 d-none d-lg-block" href="index.html"><img src="../assets/img/logo_snow pick_blue.png" alt="logo"></a>
      <a class="navbar-brand py-0 d-lg-none" href="index.html"><img src="../assets/img/logo_snow pick_blue_s.png" alt="logo"></a>
      <button class="navbar-toggler collapsed navbar-btn border-0 px-1 px-lg-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi bi-list fs-4 align-middle ms-auto text-info-100"></i>
        <i class="bi bi-x-lg align-middle ms-auto close fs-5 text-info-100"></i>
      </button>
      <div class="collapse header-dropdown-menu navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-lg-auto content-navbar border border-info-300">
          <li class="nav-item"><a class="border-top border-bottom border-info-300 nav-link fs-9 text-info-100 fs-lg-6 ls-1 px-lg-6 px-8 py-lg-4" href="itinerary-overview.html">滑雪行程</a></li>
          <li class="nav-item"><a class="nav-link fs-9 text-info-100 fs-lg-6 ls-1 px-lg-6 px-8 py-lg-4 mx-lg-4" href="#">雪場介紹</a></li>
          <li class="nav-item"><a class="nav-link fs-9 text-info-100 fs-lg-6 ls-1 px-lg-6 py-lg-4 d-none d-lg-block" href="#">註冊 / 登入</a></li>
          <li class="nav-item login"><a class="nav-link fs-9 text-info-100 fs-lg-6 ls-1 px-8 px-lg-6 py-lg-4 d-lg-none" href="#">會員登入</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>