<header class="header-itinerary-bg mb-6 mb-lg-19">
  <div class="container">
    <nav class="navbar navbar-expand-lg p-0">
      <div class="container-fluid px-0 py-lg-3">
        <a class="navbar-brand p-0 me-auto" href="./index.html">
          <picture>
            <source media="(min-width: 992px)" srcset="../assets/img/logo_light.png">
            <img src="../assets/img/logo_light_sm.png" alt="logo_snow pick">
          </picture>
        </a>
        <div class="header-itinerary-dropdown">
          <button class="header-itinerary-dropdown-menu-btn navbar-toggler p-1 border-0"
            id="header-itinerary-dropdownMenu-btn" data-bs-toggle="collapse"
            data-bs-target="#header-itinerary-menu-collapse" aria-expanded="false"
            aria-controls="header-itinerary-menu-collapse">
            <i class="bi bi-list text-light fs-4 lh-0"></i>
            <i class="bi bi-x-lg text-light fs-4 lh-0"></i>
          </button>
          <ul
            class="header-itinerary-dropdown-menu collapse m-0 p-0 rounded-0 text-center fs-9 position-absolute bg-white list-unstyled "
            aria-labelledby="header-itinerary-dropdownMenu-btn" id="header-itinerary-menu-collapse">
            <li><a class="dropdown-item" href="##">會員登入</a></li>
            <li><a class="dropdown-item" href="##">滑雪行程</a></li>
            <li><a class="dropdown-item" href="##">雪場介紹</a></li>
          </ul>
        </div>
        <div class="header-itinerary-navbar collapse navbar-collapse justify-content-end" id="header-itinerary-navbar">
          <div class="navbar-nav gap-4 m-0 fs-6 ls-1">
            <a class="nav-link d-block py-4 px-6" href="##">滑雪行程</a>
            <a class="nav-link d-block py-4 px-6" href="##">雪場介紹</a>
            <a class="nav-link d-block py-4 px-6" href="##">註冊 / 登入</a>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="container py-6 pb-lg-11">
    <ul class="list-unstyled d-flex ls-1 mb-11 fs-9 fs-lg-8">
      <li><a href="##" class="link-light">首頁</a><i class="bi bi-chevron-right text-light mx-2"></i></li>
      <li><a href="##" class="link-light">日本</a><i class="bi bi-chevron-right text-light mx-2"></i></li>
      <li><a href="##" class="link-light">苗場滑雪三日行｜單板初級</a></li>
    </ul>
    <span class="badge bg-danger lh-base mb-2 fs-9 fs-lg-8">已額滿</span>
    <h2 class="text-light fs-6 fs-lg-3 ls-1">苗場滑雪三日行｜單板初級</h2>
  </div>
</header>