.progress-mt{
    margin-top: 24px;
    @media (min-width:992px) {
        margin-top: 90px;
    } 
}
.progress{
    height: 2px;
    background-color: $info-300;
    @media (min-width:992px) {
        height: 4px;
        
    }
    .progress-bar{
        background-color: $primary-100;
    }
    &-milestone{
position:absolute;
width: 12px;
height: 12px;
border-radius: 50px;
background-color:$primary-100;
top: 0; 
&-hover{    
    box-shadow:0 0 0 4px $primary-200,0 0 0 8px #EBF7FF;  
}
@media (min-width:992px) {
    width: 24px;
    height: 24px;  
    &-hover{    
        box-shadow:0 0 0 8px $primary-200,0 0 0 15px #EBF7FF; 
        animation: fade 2s linear 2s infinite; 
    }
    @keyframes fade {
        from {
            opacity: 0.4;
        }
        to {
            opacity: 1;
        }
    }
}      
    }
}
.traveler-label{
    border-radius: 0%;
    background-color: $primary-100;
    font-size: 24px;
    padding: 8px 12px;
}
.form-pd{
    padding: 6px 12px;
}
.tableHead{
    --bs-table-bg: $primary-100;
    background-color: $primary-100;
    color: #ffffff;    
}
.form-check-input{
    border-color: $info-200;
}
.link-info-100:hover{
    background-color: $primary-400;
    border: 0px;
}
.cart-accordion {
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.ski-modal{
    --bs-modal-width: 700px;
}