// .progress-mt{
//     margin-top: 24px;
//     @media (min-width:576px) {
//         margin-top: 90px;
//     } 
// }
// .progress{
//     height: 2px;
//     background-color: $info-300;
//     @media (min-width:576px) {
//         height: 4px;
        
<<<<<<< HEAD
//     }
//     .progress-bar{
//         background-color: $primary-100;
//     }
//     &-milestone{
// position:absolute;
// width: 12px;
// height: 12px;
// border-radius: 50px;
// background-color:$primary-100;
// top: 0; 
// &-hover{    
//     box-shadow:0 0 0 4px $primary-200,0 0 0 8px #EBF7FF;  
// }
// @media (min-width:576px) {
//     width: 24px;
//     height: 24px;  
//     &-hover{    
//         box-shadow:0 0 0 8px $primary-200,0 0 0 15px #EBF7FF;
//         animation: fade 1s linear 2s infinite;  
//     }
//     @keyframes fade {
//         from {
//             opacity: 0;
//         }
//         to {
//             opacity: 1;
//         }
//     }
// }      
//     }
// }
.form-control-plaintext {
    background-color: $info-300;
=======
    }
    .progress-bar{
        background-color: $primary-100;
    }
    &-milestone{
position:absolute;
width: 12px;
height: 12px;
border-radius: 50px;
background-color:$primary-100;
top: 0; 
&-hover{    
    box-shadow:0 0 0 4px $primary-200,0 0 0 8px #EBF7FF;  
}
@media (min-width:768px) {
    width: 24px;
    height: 24px;  
    &-hover{    
        box-shadow:0 0 0 8px $primary-200,0 0 0 15px #EBF7FF;
        animation: fade 1s linear 2s infinite;  
    }
     @keyframes fade {
         from {
             opacity: 0;
         }
         to {
             opacity: 1;
         }
     }
}      
    }
}
 .form-control-plaintext {
     background-color: $info-300;
>>>>>>> 2b5f2c8181ec507fe35b57ba94ff3081a33ed4e8
}
.form-pd{
    padding: 7px 12px;
}
input[type="number"] {
    border: 1px solid $info-200;   
    padding-left:4px;     
}

.btn-page{
    padding: 13px 40px; 
    @include media-breakpoint-up(sm){
        padding: 16px 50px; 
    } 
}

.value-control {
    width: var(--control-size);
    height: var(--control-size);
    margin: 0 4px;
    background: transparent;
    font-weight: bolder;
    color: #3b3b3b;
    cursor: pointer;
    font-size: var(--font-size);
  }
  
  .value-control:hover {
    background: #eee;
  }
  
  .value-control:active {
    background: #ddd;
  }
  
  .value-control:focus,
  .value-input:focus {
    outline: 2px solid #3e67fd;
    outline-offset: 1px
  }
  
  .value-input {
    margin: 0;
    height: var(--control-size);
    width: 35px;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 2px 8px;
    text-align: center;
    font-size: var(--font-size);
    @include media-breakpoint-up(sm){
        width: 80px;
    }
  }
  
  .value-input:hover {
    border-color: #777;
  }
  
  .value-input::-webkit-outer-spin-button,
  .value-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .value-input {
    -moz-appearance: textfield;
  }
  .num-visable{
        visibility: hidden;
        @include media-breakpoint-up(sm){
            visibility: visible;
        }
      
  }
