// body {
//     overflow-x: hidden;
// }
.imgShadow,
.equipageImg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/*
.equipageBox>ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
*/

/*
.dp-flx{
    display: flex;
}
.jc-center{
    justify-content: center;
}
.flex-dire-c{
    flex-direction: column;
}
.jc-e{
    justify-content: end;
}

.align-self-end{ 
    align-self: flex-end;
}
*/
/*
.equipageContainer{
    margin: 0 auto;
    width: 1296px;
    max-width: 100%;
    overflow-x: hidden;
    background-color: rgba(184, 225, 255, 1);
}
@media  (max-width: 375px) { 
.equipageContainer{
    padding: 12px;
    background-color: #fff;
}
}
*/
.equipage>h3,
.priceList>h3 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 44px;

  @include media-breakpoint-down(md) {
    font-size: 20px;
    margin-bottom: 24px;
  }
}


.equipage {
  background: linear-gradient(to top left, rgba(184, 225, 255, 1), rgba(237, 248, 255, 1));
  padding: 44px;
  margin-bottom: 44px;
  position: relative;

  @include media-breakpoint-down(md) {
    padding: 12px;
    margin-bottom: 24px;
  }
}

.deco-equipage {
  position: relative;

  &::before {
    content: "";
    background-image: url(../img/line2.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 274px;
    height: 64px;
    position: absolute;
    top: -20px;
    left: -80px;
    display: block;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &::after {
    content: "";
    background-image: url(../img/line3.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 270px;
    height: 204px;
    position: absolute;
    bottom: -18px;
    right: -64px;
    display: block;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

.deco-equipage-top-visible {
  padding-top: 20px;
  margin-top: -20px;
}

/*
.line2 {
    width: 274px;
    height: 64px;
    position: absolute;
    top: -20px;
    left: -80px;
}


.line3 {
    width: 270px;
    height: 204px;
    position: absolute;
    z-index: 2;
    top: -230px;
    right: -70px;
}
@media  (max-width: 375px) {   
    .line2, .line3{
        display: none;
    }
}
*/
.equipageList {
  display: flex;
  flex-wrap: wrap;
  //gap: 24px;
  overflow: hidden;
}

/*
@media  (max-width: 375px) {
    .equipageList{
        gap: 12px;
    }
}
*/

/* 改用BS通用樣式對card設定
.equipageList li{
    border-radius: 8px;
    background-color: #fff;    
}
*/

.equipageImg {
  width: 160px;
  height: 160px;
  margin: 0 auto;

  @include media-breakpoint-down(md) {
    width: 44px;
    height: 44px;
    margin-right: 12.5px;
  }
}


.equipageCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  //width: 284px;
  height: 284px;
  padding: 16px;
  text-align: center;
  font-weight: 700;
  overflow: hidden;
  box-sizing: border-box;

  @include media-breakpoint-down(md) {
    box-sizing: border-box;
    //width: 327px;
    width: 100%;
    height: 68px;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: center;
  }
}

/*
@media (max-width: 768px) {
  .equipageCard>.flex-dire-c{
      flex-direction: row;
  }
  .equipageCard>.flex-dire-c>p{
      align-content: center;
  }
  .equipageNameRent{
      align-items: center;
  }
  .align-self-end{ 
      align-self: center;
  }
}
*/
.rentBorder {
  border: 2px solid rgba(85, 175, 244, 1);

}

.rent {
  align-content: center;
  padding: 4px 16px;
  color: #fff;
  background-color: #55AFF4;
  border-radius: 8px;
  height: 32px;
  margin: 0;

  @include media-breakpoint-down(md) {
    align-content: center;
    height: 26px;
    font-size: 12px;
    font-weight: 400; //add
    /* padding: 4px 12px; */
    line-height: 1.5;
    margin: auto;
  }
}

.equipageNameRent {
  color: #55AFF4;
  padding: 0;
  margin: 0;
}

.free {
  align-content: center;
  padding: 4px 16px;
  color: #55AFF4;
  background-color: #fff;
  border-radius: 8px;
  height: 32px;
  border: 1px solid #55AFF4;
  margin: 0;

  @include media-breakpoint-down(md) {
    height: 26px;
    font-size: 12px;
    font-weight: 400; //add
    /* padding: 4px 12px; */
    margin: auto;
  }
}

.owned {
  align-content: center;
  padding: 4px 16px;
  background-color: #fff;
  border-radius: 8px;
  height: 32px;
  border: 1px solid #A3A3A3;
  color: #A3A3A3;
  margin: 0;

  @include media-breakpoint-down(md) {
    height: 26px;
    font-size: 12px;
    font-weight: 400; //add
    /* padding: 4px 12px; */
    margin: auto;
  }
}

.equipageNameOwned {
  color: #A3A3A3;
  padding: 0;
  margin: 0;
}

.imgShadow {
  position: absolute;
  top: 86px;
  right: 86px;
  width: 254px;
  height: 254px;
  opacity: 0.1;

  @include media-breakpoint-down(md) {
    display: none;
  }
}

/* 螢幕寬度小於374px時隱藏PcTable */

.PcTable {
  tr,td,th {
    width: 202px;
    padding: 12px 0px;
  }

  @include media-breakpoint-down(md) {
    display: none;
  }
}


.priceList {
  background-color: #F3FAFF;
  padding: 44px;
  position: relative;

  @include media-breakpoint-down(md) {
    padding: 12px;
  }
}

.rentMenu {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
  background-color: #fff;
  border-collapse: collapse;
  text-align: center;
  border-radius: 8px;

  tr:nth-child(1),
  tr:nth-child(2) {
    border-bottom: 1px solid #E4E4E4;
  }
}



.rentMenu1 {
  //max-width: 327px;
  width: 100%;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
  background-color: #fff;
  border-collapse: collapse;
  text-align: center;
  border-radius: 8px;

  tr:nth-child(1),
  tr:nth-child(2),
  tr:nth-child(3),
  tr:nth-child(4),
  tr:nth-child(5) {
    border-bottom: 1px solid #E4E4E4;
  }

}


/*螢幕寬度大於374px時隱藏MbTable */

.MbTable {
  display: none;
  tr,td,th {
    //width: 109px;
    padding: 12px 22px;
  }
  @include media-breakpoint-down(md) {
    display: block;
  }
}



//----utility-----