.note{
    margin-bottom: 24px;
}
.feeDescription{
    border: 3px solid gray;
    border-radius: 8px;
}
.descriptionBox p{
    width: 430px;
    height: 340px;
    text-align: center;
    align-content: center;
    border: 1px solid gray;
    margin: 0;
    background-color: #55AFF4;
    color: #FFF;
}

.feeDetails{
    width: 863px;
    height: 340px;
    align-content: center;
    border: 1px solid gray;
    padding: 36px;
    margin: 0;
}