.index{
    &-banner{
            top: -56px;
            height: 100dvh;
            @include media-breakpoint-up(lg){
                top: -108px;
                left: 0;
            }
            .swiper-slide img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .swiper-pagination-bullet {
                background-color: #525252;
                opacity: 1;
            }              
            .swiper-pagination-bullet-active {
                width: 12px;
                height: 12px;
                background-color: #fff;
            }
        }
    &-bg::after{
        content: "";
        height: 5062px;
        width: 100%;
        background-image: url('.././img/bg_sm.png');
        background-size: cover;
        left: 50%;
        transform: translateX(-50%);
        top: -8%;
        background-repeat: no-repeat;
        overflow: hidden;
        background-position: 25% 10%;
        position: absolute;
        z-index: -1;
        @include media-breakpoint-up(lg){
            background-image: url('.././img/background.png');
            background-position: center;
            top: -7.5%;
        }
        @media (min-width: 1920px) {background-position: 15% 15%; }
    }
}
.banner-content{
    top: 13%;
    padding-top: 64px;
    @include media-breakpoint-up(md){
        top: 50% !important;
        transform: translate(-50%, -50%) !important;
        padding-top: 0;
    }
    img{
        top: 13%;
        @include media-breakpoint-up(md){
            top: 0%;
        }
    }
    .en{
        font-size: 44px;
        line-height: 36px;
        @include media-breakpoint-up(sm){
            font-size: 60px;
            line-height: 50px;
        }
        @include media-breakpoint-up(md){
            font-size: 82px;
            line-height: 70px;
        }
        @include media-breakpoint-up(lg){
            font-size: 96px;
            line-height: 80px;
        }
    }
}
.more-hover, .aboutus-icon-hover, .latest-icon-hover, .ski-resort-icon-hover, .team-icon-hover{
    display: none;
}
.banner-interact li:hover{
    .more, .aboutus-icon, .latest-icon, .ski-resort-icon, .team-icon{
        display: none;
    }
    .more-hover, .aboutus-icon-hover, .latest-icon-hover, .ski-resort-icon-hover, .team-icon-hover{
        display: inline-block;
    }
    h3{
        color: #1B5583 !important;
    }
}
.source-sans-pro{
    font-family: "Source Sans 3", sans-serif;;
}
.aboutus{
    padding-bottom: 60px;
    @include media-breakpoint-up(sm){
        padding-bottom: 40px;
    }
    &-text{
        width: 100%;
        @include media-breakpoint-up(lg){
            max-width: 881px;
            margin: 0 auto;
            }
    }
    &-content{
        box-shadow: 0px 0px 16px 0px #0000001A;
        width: 327px;
        left: 10px;
        top: 216px;
        @media (min-width: 375px){
            left: 24px;
        }
        @include media-breakpoint-up(sm){
            width: 415px;
            padding-top: 25px !important;
            padding-bottom: 25px !important;
            left: 30px;
        }
        @include media-breakpoint-up(md){
            left: 200px; 
        }
        @include media-breakpoint-up(lg){ 
            left: 329px;
            top: 181px;
        }

    }
    li{
        margin-bottom: 154px;
        max-width: 351px;
        margin-left: auto;
        margin-right: auto;
        @include media-breakpoint-up(sm){  
            max-width: none;
            width: 434px;    
        }
        @include media-breakpoint-up(md){  
            width: 615px;
        }
        @include media-breakpoint-up(lg){  
            width: 100%;
            margin-bottom: 88px;
            margin-left: 0;
        }
    }
    &-02.about02{
        margin-bottom: 170px;
        @include media-breakpoint-up(lg){  
            margin-bottom: 118px;
            margin-left: 100px;
        }
        @include media-breakpoint-up(xl){          
            margin-left: 180px;   
        }
        @include media-breakpoint-up(xxl){          
            margin-left: 276px;
        }
    }
    &-03.about03{
        @include media-breakpoint-up(lg){
            margin-right: 330px;
        }
        @include media-breakpoint-up(xxl){
            margin-right: 328px;
        }
    }
    &-img{
        margin: 0 auto;
        max-width: 327px;
        @include media-breakpoint-up(sm){
            width: 400px;
            max-width: none;
        }
        @include media-breakpoint-up(lg){
            width: auto;
        }
    }
}
.about-snow-pick{
    &::after{
        content: "";
        position: absolute;
        background-image: url('.././img/line03_mobile.png');
        height: 24px;
        width: 244px;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include media-breakpoint-up(sm){
            background-image: url('.././img/line03.png');
            height: 40px;
            width: 392px;
        }
    }
}
.latest{
    .swiper{
        .btn{
            padding-top: 3px;
            padding-bottom: 1px;
            &:hover{
                background-color: $primary-100 !important;
                color: white !important;
            }
        }
    }
    .card:hover{
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    }
    .btn{
        line-height: 1.2;
    }
}
.skiresort{
    &-content{
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
        width: 325px;
        left: 10px;
        top: 140px;
        @media (min-width: 375px){
            left: 24px;
        }
        @include media-breakpoint-up(sm){
            padding-top: 25px !important;
            padding-bottom: 25px !important;
            width: 450px;
            right: none;
            top: 180px;
            left: 60px;
        }
        @include media-breakpoint-up(md){
            width: 550px;
            left: 150px; 
            top: 200px;
        }
        @include media-breakpoint-up(lg){
            width: 590px;
            left: 346px; 
            &.skiresort-naeba{
                left: 0;
            }
        }
        @include media-breakpoint-up(xl){ 
            width: 636px;
            left: 480px; 
            top: 178px;          
        }
        @include media-breakpoint-up(xxl){ 
            left: 660px;
        }
    }
    .more-hover{
        display: none;
    }
    .understand-more:hover{
        .more{
            display: none;
        }
        .more-hover{
            display: inline-block;
        }
    }
    li{
        width: 351px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 216px;
        @include media-breakpoint-up(sm){ 
            width: auto;
            margin-right: 30px;
            margin-bottom: 180px;
        }
        @include media-breakpoint-up(md){ 
            margin-bottom: 130px;
            margin-right: 100px;
        }
        @include media-breakpoint-up(lg){ 
            margin-right: auto;
        }
        @include media-breakpoint-up(xl){ 
            margin-bottom: 100px;
        }
    }
}