.progress{
    background-color: $info-300;
    .progress-bar{
        background-color: $primary-100;
    }
    &-milestone{
position:absolute;
width: 24px;
height: 24px;
border-radius: 50px;
background-color:$primary-100;
top: 0;       
    }
}

.traveler-label{
    border-radius: 0%;
    background-color: $primary-100;
    font-size: 24px;
    padding: 8px 12px;
}
.form-check-equipment{
    display: flex;
    align-items: center;
}

.form-check-input{
    border-color: $info-200;

&:checked{
    background-color: #ffffff;
    border-color: $primary-100;
    color: $primary-100;

}

}