.progress{
    height: 2px;
    background-color: $info-300;
    @media (min-width:768px) {
        height: 4px;
    }
    .progress-bar{
        background-color: $primary-100;
    }
    &-milestone{
position:absolute;
width: 12px;
height: 12px;
border-radius: 50px;
background-color:$primary-100;
top: 0; 
&-hover{    
    box-shadow:0 0 0 4px $primary-200,0 0 0 8px #EBF7FF;  
}
@media (min-width:768px) {
    width: 24px;
    height: 24px;  
    &-hover{    
        box-shadow:0 0 0 8px $primary-200,0 0 0 15px #EBF7FF;  
    }
}      
    }
}
