.userAccount-page {
  min-height: calc(100vh - 56px);
  padding-top: 60px;
  padding-bottom: 60px;
  @include media-breakpoint-up(lg) {
    min-height: calc(100vh - 109px);
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.login-box {
  position: relative;
  width: 100%;
  max-width: 400px;
  padding-top: 76px;
  padding-bottom: 44px;
  border: 5px dotted $primary-200;

  @include media-breakpoint-up(md) {
    width: 100%;
    max-width: 540px;
    padding-top: 100px;
    padding-bottom: 64px;
  }

  .login-box-header {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .login-box-loginBtn {
    .bi-box-arrow-in-right {
      display: none;
    }

    &:hover {
      .bi-box-arrow-in-right {
        display: inline;
      }
    }
  }
}

.login-account {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-image: url(../img/icon-accountLoggin/person-circle.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 24px;
    height: 24px;
    transform: translate(50%, -7px);
    bottom: 0%;
    left: 0%;
  }

  input[type="text"] {
    padding-left: 44px;
    color: $info-100;
  }
}

.login-passwd {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-image: url(../img/icon-accountLoggin/key-fill.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 24px;
    height: 24px;
    transform: translate(50%, -7px);
    bottom: 0%;
    left: 0%;
  }

  input[type="password"] {
    padding-left: 44px;
    color: $info-100;
  }
}

.account-function-link {
  a:hover {
    text-decoration: underline;
  }
}

.login-otherAccount {
  a {
    color: $info-200;

    &:hover {
      color: $primary-200;
    }
  }
}