.register-form-container{
  padding-top: 60px;
  padding-bottom: 60px;
  @include media-breakpoint-up(md){
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.register-ski-self-evaluation-form{
  td{
    padding-left: 8px;
    padding-right: 8px;  
  }
}