<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>購物車-裝備租借</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
<!--progress-->
<section class="container">
  <div class="px-lg-11 px-6 py-lg-8 py-3 mb-lg-11 mb-6 progress-mt">
<div class="position-relative mx-7 mb-6">

  <div class="progress mb-lg-6 mb-4" role="progressbar" aria-label="Example 2px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar" style="width: 66%"></div>
  </div> 

  <div class="progress-milestone translate-middle" style="left: 0%;"></div>
  <div class="progress-milestone translate-middle" style="left: 33%;"></div>
  <div class="progress-milestone progress-milestone-hover translate-middle" style="left: 66%;"></div>
  <div class="progress-milestone translate-middle bg-info-300" style="left: 100%;"></div>

  
</div>
<ul class="list-unstyled d-flex justify-content-between text-info-100 fs-10 fs-lg-6">
<li>行程確認</li>
<li>資料填寫</li>
<li>裝備租借</li>
<li>訂單確認</li>
</ul>
</div>
</section>
<!--注意事項-->
<section class="my-lg-11 my-6">
  <div class="container">
  <div class="alert bg-primary-400 p-0 p-lg-6 p-4" role="alert">
  <h1 class="alert-heading fs-lg-5 fs-6 fw-bold text-info-100 mb-6">注意事項</h1>
  <ol class="text-info-200 mb-0 fs-lg-6 fs-8 ls-1">
    <li>為了確保您在雪域狂歡中獲得最佳的滑雪體驗，請無論是否租借雪具裝備，都詳細填寫您的身高、體重和腳掌長度。我們將根據您提供的資訊為您準備合適的滑雪器材- 雪板及雪靴。</li>
    <li>雪衣及護具等其他雪具裝備的尺寸會根據您的身高和體重進行配備。如現場試穿後發現不合適，我們將提供更換服務。</li>
  </ol>  
   </div>
  </div>
</section>

<!--旅客資料1-->
<section class="container mb-lg-11 mb-6">
  <hr class="my-0">
  <span class="badge traveler-label mt-lg-11 mt-6 fs-lg-5 fs-6">旅客 1  成人</span>
  <div class="my-6 d-flex text-info-100 fs-lg-6">
    <p class="me-lg-8 me-6" >中文姓名：王怡蓁</p>
    <p>性別：女性</p>
  </div>

  <div class="row">
    <div class="col-lg-3 mb-6">
      <div>
        <label for="travelerdataInput1" class="form-label fs-lg-6">身高*</label>
        <input type="text" class="form-control border-info-200 rounded-0 text-info-200 fs-lg-6" id="travelerdataInput1
        " placeholder="請輸入您的身高">
      </div>
    </div>
    <div class="col-lg-3 mb-6">
      <div>
        <label for="travelerdataInput1" class="form-label fs-lg-6">體重*</label>
        <input type="text" class="form-control border-info-200 rounded-0 text-info-200 fs-lg-6" id="travelerdataInput1
        " placeholder="請輸入您的體重 ">
      </div>
    </div>
    <div class="col-lg-3 mb-6">
      <div>
      <label for="travelerdataInput1" class="form-label fs-lg-6">腳掌長度*</label>
      <select class="form-select border-info-200 rounded-0 text-info-200 fs-lg-6" aria-label="Default select example">
        <option selected>請選擇您的腳掌長度</option>
        <option value="1">22.5</option>
        <option value="2">23</option>
        <option value="3">23.5</option>
        <option value="4">24</option>
        <option value="5">24.5</option>
        <option value="6">25</option>
        <option value="7">25.5</option>
        <option value="8">26</option>
        <option value="9">26.5</option>
        <option value="10">27</option>
        <option value="11">27.5</option>
        <option value="12">28</option>
        <option value="13">28.5</option>
      </select>
    </div>
    </div>
    <div class="col-lg-3 mb-6">
      <div>
        <label for="travelerdataInput1" class="form-label fs-lg-6">租借天數*</label>
        <select class="form-select border-info-200 rounded-0 text-info-200 fs-lg-6" aria-label="Default select example">
          <option value="1">1天</option>
          <option value="2">2天</option>
          <option selected value="3">3天</option>
          <option value="4">4天</option>
          <option value="5">5天</option>
          <option value="6">6天</option>
          <option value="7">7天</option>
        </select>
      </div>
    </div>
  </div>
  

<div>
  <div class="form-check d-flex">
    <input class="form-check-input me-2" type="checkbox" value="" id="flexCheckDefault" data-bs-toggle="collapse" data-bs-target="#collapseSnowEquipment" aria-expanded="false" aria-controls="collapseExample">
    <label class="form-check-label me-6 fs-lg-6 text-info-100" for="flexCheckDefault">
      我想租借雪具裝備
    </label>
    <div class="collapse" id="collapseSnowEquipment">
      <div class="card border-0"><span class="text-danger fs-lg-6">*請勾選欲租借的裝備</span></div>
      </div>

      </div>
      <div class="collapse mb-lg-11 mb-6" id="collapseSnowEquipment">
        <div class="card card-body border-0 text-info-100">
          <div class="row">
            <div class="col-lg-4 col-6">
              <div class="form-check form-check-equipment mt-6">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckSnowCoat">
                <picture class="mx-lg-4 mx-2" class="mx-lg-4 mx-2">
                  <source media="(min-width: 992px)" srcset="../assets/img/snow%20coat_M.png" >
                  <img src="../assets/img/snow%20coat_s.png" alt="snow coat_s">
                </picture>
                
                <label class="form-check-label fs-lg-6" for="flexCheckSnowCoat">
                  雪衣
                </label>
              </div>
            </div>
            <div class="col-lg-4 col-6">
              <div class="form-check form-check-equipment mt-6">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckSnowPants">
                <picture class="mx-lg-4 mx-2">
                  <source media="(min-width: 992px)" srcset="../assets/img/snow%20pants_M.png">
                  <img src="../assets/img/snow pants_s.png" alt="snow pants_s">
                </picture>
                <label class="form-check-label fs-lg-6" for="flexCheckSnowPants">
                  雪褲
                </label>
              </div>
            </div>
            <div class="col-lg-4 col-6">
              <div class="form-check form-check-equipment mt-6">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckGloves">
                <picture class="mx-lg-4 mx-2">
                  <source media="(min-width: 992px)" srcset="../assets/img/inside-gloves_M.png">
                  <img src="../assets/img/inside-gloves_s.png" alt="inside-gloves_s">
                </picture>        
                <label class="form-check-label fs-lg-6 fs-lg-6" for="flexCheckGloves">
                  滑雪手套
                </label>
              </div>
            </div>
            <div class="col-lg-4 col-6">
              <div class="form-check form-check-equipment mt-6">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckKneePads">
                <picture class="mx-lg-4 mx-2">
                  <source media="(min-width: 992px)" srcset="../assets/img/knee%20pads_M.png">
                  <img src="../assets/img/knee pads_s.png" alt="knee pads_s">
                </picture>                           
                <label class="form-check-label fs-lg-6" for="flexCheckKneePads">
                  護膝
                </label>
              </div>
            </div>
            <div class="col-lg-4 col-6">
              <div class="form-check form-check-equipment mt-6">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckImpactShorts">
                <picture class="mx-lg-4 mx-2">
                  <source media="(min-width: 992px)" srcset="../assets/img/impact%20shorts_M.png">
                  <img src="../assets/img/impact shorts_s.png" alt="impact shorts_s">
                </picture>                           
                <label class="form-check-label fs-lg-6" for="flexCheckImpactShorts">
                  防摔褲
                </label>
              </div>
            </div>
    
          </div>
        </div>
    </div>
</div>


</section>
<!--旅客資料2-->
<section class="container mb-11">
  <hr class="my-0">
  <span class="badge traveler-label mt-lg-11 mt-6 fs-lg-5 fs-6">旅客 2  成人</span>
  <div class="my-6 d-flex text-info-100 fs-lg-6">
    <p class="me-lg-8 me-6" >中文姓名：賈斯柏</p>
    <p>性別：男性</p>
  </div>

  <div class="row">
    <div class="col-lg-3 mb-6">
      <div>
        <label for="travelerdataInput1" class="form-label fs-lg-6">身高*</label>
        <input type="text" class="form-control border-info-200 rounded-0 text-info-200 fs-lg-6" id="travelerdataInput1
        " placeholder="請輸入您的身高">
      </div>
    </div>
    <div class="col-lg-3 mb-6">
      <div>
        <label for="travelerdataInput1" class="form-label fs-lg-6">體重*</label>
        <input type="text" class="form-control border-info-200 rounded-0 text-info-200 fs-lg-6" id="travelerdataInput1
        " placeholder="請輸入您的體重 ">
      </div>
    </div>
    <div class="col-lg-3 mb-6">
      <div>
      <label for="travelerdataInput1" class="form-label fs-lg-6">腳掌長度*</label>
      <select class="form-select border-info-200 rounded-0 text-info-200 fs-lg-6" aria-label="Default select example">
        <option selected>請選擇您的腳掌長度</option>
        <option value="1">22.5</option>
        <option value="2">23</option>
        <option value="3">23.5</option>
        <option value="4">24</option>
        <option value="5">24.5</option>
        <option value="6">25</option>
        <option value="7">25.5</option>
        <option value="8">26</option>
        <option value="9">26.5</option>
        <option value="10">27</option>
        <option value="11">27.5</option>
        <option value="12">28</option>
        <option value="13">28.5</option>
      </select>
    </div>
    </div>
    <div class="col-lg-3 mb-6">
      <div>
        <label for="travelerdataInput1" class="form-label fs-lg-6">租借天數*</label>
        <select class="form-select border-info-200 rounded-0 text-info-200 fs-lg-6" aria-label="Default select example">
          <option value="1">1天</option>
          <option value="2">2天</option>
          <option selected value="3">3天</option>
          <option value="4">4天</option>
          <option value="5">5天</option>
          <option value="6">6天</option>
          <option value="7">7天</option>
        </select>
      </div>
    </div>
  </div>
  

<div>
  <div class="form-check d-flex">
    <input class="form-check-input me-2" type="checkbox" value="" id="flexCheckDefault" data-bs-toggle="collapse" data-bs-target="#collapseSnowEquipment-2" aria-expanded="false" aria-controls="collapseExample">
    <label class="form-check-label me-6 fs-lg-6 text-info-100" for="flexCheckDefault">
      我想租借雪具裝備
    </label>
    <div class="collapse" id="collapseSnowEquipment-2">
      <div class="card border-0"><span class="text-danger fs-lg-6">*請勾選欲租借的裝備</span></div>
      </div>
  </div>
  <div class="collapse mb-lg-11 mb-6" id="collapseSnowEquipment-2">
    <div class="card card-body border-0 text-info-100">
      <div class="row">
        <div class="col-lg-4 col-6">
          <div class="form-check form-check-equipment mt-6">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckSnowCoat">
            <picture class="mx-lg-4 mx-2" class="mx-lg-4 mx-2">
              <source media="(min-width: 992px)" srcset="../assets/img/snow%20coat_M.png" >
              <img src="../assets/img/snow%20coat_s.png" alt="snow coat_s">
            </picture>
            
            <label class="form-check-label fs-lg-6" for="flexCheckSnowCoat">
              雪衣
            </label>
          </div>
        </div>
        <div class="col-lg-4 col-6">
          <div class="form-check form-check-equipment mt-6">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckSnowPants">
            <picture class="mx-lg-4 mx-2">
              <source media="(min-width: 992px)" srcset="../assets/img/snow%20pants_M.png">
              <img src="../assets/img/snow pants_s.png" alt="snow pants_s">
            </picture>
            <label class="form-check-label fs-lg-6" for="flexCheckSnowPants">
              雪褲
            </label>
          </div>
        </div>
        <div class="col-lg-4 col-6">
          <div class="form-check form-check-equipment mt-6">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckGloves">
            <picture class="mx-lg-4 mx-2">
              <source media="(min-width: 992px)" srcset="../assets/img/inside-gloves_M.png">
              <img src="../assets/img/inside-gloves_s.png" alt="inside-gloves_s">
            </picture>        
            <label class="form-check-label fs-lg-6 fs-lg-6" for="flexCheckGloves">
              滑雪手套
            </label>
          </div>
        </div>
        <div class="col-lg-4 col-6">
          <div class="form-check form-check-equipment mt-6">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckKneePads">
            <picture class="mx-lg-4 mx-2">
              <source media="(min-width: 992px)" srcset="../assets/img/knee%20pads_M.png">
              <img src="../assets/img/knee pads_s.png" alt="knee pads_s">
            </picture>                           
            <label class="form-check-label fs-lg-6" for="flexCheckKneePads">
              護膝
            </label>
          </div>
        </div>
        <div class="col-lg-4 col-6">
          <div class="form-check form-check-equipment mt-6">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckImpactShorts">
            <picture class="mx-lg-4 mx-2">
              <source media="(min-width: 992px)" srcset="../assets/img/impact%20shorts_M.png">
              <img src="../assets/img/impact shorts_s.png" alt="impact shorts_s">
            </picture>                           
            <label class="form-check-label fs-lg-6" for="flexCheckImpactShorts">
              防摔褲
            </label>
          </div>
        </div>

      </div>
    </div>
</div>
</div>


</section>
<!--旅客資料3-->
<section class="container mb-11">
  <hr class="my-0">
  <span class="badge traveler-label mt-lg-11 mt-6 fs-lg-5 fs-6">旅客 3  小孩</span>
  <div class="my-6 d-flex text-info-100 fs-lg-6">
    <p class="me-lg-8 me-6" >中文姓名：陳木木</p>
    <p>性別：女性</p>
  </div>
  

  <div class="row">
    <div class="col-lg-3 mb-6">
      <div>
        <label for="travelerdataInput1" class="form-label fs-lg-6">身高*</label>
        <input type="text" class="form-control border-info-200 rounded-0 text-info-200 fs-lg-6" id="travelerdataInput1
        " placeholder="請輸入您的身高">
      </div>
    </div>
    <div class="col-lg-3 mb-6">
      <div>
        <label for="travelerdataInput1" class="form-label fs-lg-6">體重*</label>
        <input type="text" class="form-control border-info-200 rounded-0 text-info-200 fs-lg-6" id="travelerdataInput1
        " placeholder="請輸入您的體重 ">
      </div>
    </div>
    <div class="col-lg-3 mb-6">
      <div>
      <label for="travelerdataInput1" class="form-label fs-lg-6">腳掌長度*</label>
      <select class="form-select border-info-200 rounded-0 text-info-200 fs-lg-6" aria-label="Default select example">
        <option selected>請選擇您的腳掌長度</option>
        <option value="1">22.5</option>
        <option value="2">23</option>
        <option value="3">23.5</option>
        <option value="4">24</option>
        <option value="5">24.5</option>
        <option value="6">25</option>
        <option value="7">25.5</option>
        <option value="8">26</option>
        <option value="9">26.5</option>
        <option value="10">27</option>
        <option value="11">27.5</option>
        <option value="12">28</option>
        <option value="13">28.5</option>
      </select>
    </div>
    </div>
    <div class="col-lg-3 mb-6">
      <div>
        <label for="travelerdataInput1" class="form-label fs-lg-6">租借天數*</label>
        <select class="form-select border-info-200 rounded-0 text-info-200 fs-lg-6" aria-label="Default select example">
          <option value="1">1天</option>
          <option value="2">2天</option>
          <option selected value="3">3天</option>
          <option value="4">4天</option>
          <option value="5">5天</option>
          <option value="6">6天</option>
          <option value="7">7天</option>
        </select>
      </div>
    </div>
  </div>
  

<div>
  <div class="form-check d-flex">
    <input class="form-check-input me-2" type="checkbox" value="" id="flexCheckDefault" data-bs-toggle="collapse" data-bs-target="#collapseSnowEquipment-3" aria-expanded="false" aria-controls="collapseExample">
    <label class="form-check-label me-6 fs-lg-6 text-info-100" for="flexCheckDefault">
      我想租借雪具裝備
    </label>
    <div class="collapse" id="collapseSnowEquipment-3">
      <div class="card border-0"><span class="text-danger fs-lg-6">*請勾選欲租借的裝備</span></div>
      </div>
  </div>
  <div class="collapse mb-lg-11 mb-6" id="collapseSnowEquipment-3">
    <div class="card card-body border-0 text-info-100 text-info-100">
      <div class="row">
        <div class="col-lg-4 col-6">
          <div class="form-check form-check-equipment mt-6">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckSnowCoat">
            <picture class="mx-lg-4 mx-2" class="mx-lg-4 mx-2">
              <source media="(min-width: 992px)" srcset="../assets/img/snow%20coat_M.png" >
              <img src="../assets/img/snow%20coat_s.png" alt="snow coat_s">
            </picture>
            
            <label class="form-check-label fs-lg-6" for="flexCheckSnowCoat">
              雪衣
            </label>
          </div>
        </div>
        <div class="col-lg-4 col-6">
          <div class="form-check form-check-equipment mt-6">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckSnowPants">
            <picture class="mx-lg-4 mx-2">
              <source media="(min-width: 992px)" srcset="../assets/img/snow%20pants_M.png">
              <img src="../assets/img/snow pants_s.png" alt="snow pants_s">
            </picture>
            <label class="form-check-label fs-lg-6" for="flexCheckSnowPants">
              雪褲
            </label>
          </div>
        </div>
        <div class="col-lg-4 col-6">
          <div class="form-check form-check-equipment mt-6">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckGloves">
            <picture class="mx-lg-4 mx-2">
              <source media="(min-width: 992px)" srcset="../assets/img/inside-gloves_M.png">
              <img src="../assets/img/inside-gloves_s.png" alt="inside-gloves_s">
            </picture>        
            <label class="form-check-label fs-lg-6 fs-lg-6" for="flexCheckGloves">
              滑雪手套
            </label>
          </div>
        </div>
        <div class="col-lg-4 col-6">
          <div class="form-check form-check-equipment mt-6">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckKneePads">
            <picture class="mx-lg-4 mx-2">
              <source media="(min-width: 992px)" srcset="../assets/img/knee%20pads_M.png">
              <img src="../assets/img/knee pads_s.png" alt="knee pads_s">
            </picture>                           
            <label class="form-check-label fs-lg-6" for="flexCheckKneePads">
              護膝
            </label>
          </div>
        </div>
        <div class="col-lg-4 col-6">
          <div class="form-check form-check-equipment mt-6">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckImpactShorts">
            <picture class="mx-lg-4 mx-2">
              <source media="(min-width: 992px)" srcset="../assets/img/impact%20shorts_M.png">
              <img src="../assets/img/impact shorts_s.png" alt="impact shorts_s">
            </picture>                           
            <label class="form-check-label fs-lg-6" for="flexCheckImpactShorts">
              防摔褲
            </label>
          </div>
        </div>

      </div>
    </div>
</div>
</div>
</section>
<!--滑雪裝備租賃購物車-->
<section class="container ">
  <hr class="my-0">
  <h3 class="mt-11 fs-lg-5 fs-6 mb-6">滑雪裝備租賃購物車</h3>
  
  <table class="table table-hover table-borderless text-center d-lg-table d-none mb-6">
    <caption class="text-end text-info-100"><span class="fs-6">共計</span>
      <span class="fs-2">NT$ 5,850</span>
    </caption>
    <thead class="table-dark tableHead text-white border-0 fs-6">
      <tr>
        <th scope="col">租賃項目</th>
        <th scope="col">天數</th>
        <th scope="col">成人費用</th>
        <th scope="col">數量</th>
        <th scope="col">小孩費用</th>
        <th scope="col">數量</th>
        <th scope="col">小計</th>
      </tr>
    </thead>
    <tbody class="fs-6">
      <tr>
        <th scope="row">雪褲</th>
        <td>3</td>
        <td>NT$ 450/日</td>
        <td>1</td>
        <td>NT$ 300/日</td>
        <td>1</td>
        <td>NT$ 2,250</td>
      </tr>
      <tr>
        <th scope="row">雪衣</th>
        <td>3</td>
        <td>NT$ 450/日</td>
        <td>1</td>
        <td>NT$ 300/日</td>
        <td>1</td>
        <td>NT$ 2,250</td>
      </tr>
      <tr>
        <th scope="row">滑雪手套</th>
        <td>3</td>
        <td>NT$ 150/日</td>
        <td>1</td>
        <td>NT$ 100/日</td>
        <td>1</td>
        <td>NT$ 750</td>
      </tr>
      <tr>
        <th scope="row">護膝</th>
        <td>3</td>
        <td>NT$ 250/日</td>
        <td>0</td>
        <td>NT$ 100/日</td>
        <td>1</td>
        <td>NT$ 750</td>
      </tr>
      <tr>
        <th scope="row">防摔褲</th>
        <td>3</td>
        <td>NT$ 210/日</td>
        <td>0</td>
        <td>NT$ 100/日</td>
        <td>1</td>
        <td>NT$ 300</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-hover table-borderless text-center d-lg-none d-table mb-6" style="width: inherit">
    <caption class="text-end text-info-100"><span class="fs-10">共計</span>
      <span class="fs-5">NT$ 5,850</span>
    </caption>
    <thead class="table-dark tableHead text-white border-0 fs-8">
      <tr>
        <th scope="col">租賃項目</th>
        <th scope="col">數量</th>
        <th scope="col">小計</th>
      </tr>
    </thead>
    <tbody class="fs-8">
      <tr>
        <th scope="row">雪褲</th>
        <td>1</td>
        <td>NT$ 2,250</td>
      </tr>
      <tr>
        <th scope="row">雪衣</th>
        <td>1</td>
        <td>NT$ 2,250</td>
      </tr>
      <tr>
        <th scope="row">滑雪手套</th>
        <td>1</td>
        <td>NT$ 750</td>
      </tr>
      <tr>
        <th scope="row">護膝</th>
        <td>1</td>
        <td>NT$ 750</td>
      </tr>
      <tr>
        <th scope="row">防摔褲</th>
        <td>1</td>
        <td>NT$ 300</td>
      </tr>
    </tbody>
  </table>
  
  <div class="d-flex justify-content-center  gap-6">
    <button type="button" class="btn btn-page btn-white border-info-300 rounded-0 fw-bold">上一步</button>
    <button type="button" class="btn btn-page btn-primary-100 rounded-0 text-white fw-bold">下一步</button>
  </div> 
</section>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>