<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>購物車-資料填寫</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
<!--progress-->
<section class="container">
  <div class="px-md-11 px-6 py-md-8 py-3 mb-md-11 mb-6 progress-mt">
<div class="position-relative mx-7 mb-6">

  <div class="progress mb-md-6 mb-4" role="progressbar" aria-label="Example 2px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar" style="width: 33%"></div>
  </div> 

  <div class="progress-milestone translate-middle" style="left: 0%;"></div>
  <div class="progress-milestone translate-middle progress-milestone-hover" style="left: 33%;"></div>
  <div class="progress-milestone translate-middle bg-info-300" style="left: 66%;"></div>
  <div class="progress-milestone translate-middle bg-info-300" style="left: 100%;"></div>

  
</div>
<ul class="list-unstyled d-flex justify-content-between text-info-100 fs-10 fs-md-6">
<li>行程確認</li>
<li>資料填寫</li>
<li>裝備租借</li>
<li>訂單確認</li>
</ul>
</div>
</section>

<!--資料填寫-->
<section class="container">

  <!--旅客資料1-->
<section class="container mb-md-11 mb-6">
  <hr class="my-0">
  <span class="badge traveler-label mt-md-11 mt-6 fs-md-5 fs-6">旅客 1  成人</span>
  <div class="form-check mt-md-8 mt-6 text-info-100">
    <input class="form-check-input" type="checkbox" value="" id="samePurchasingMan1">
    <label class="form-check-label" for="samePurchasingMan1">
      同訂購人
    </label>
  </div>

    <div class="row mt-md-8 mt-6">
    <div class="col-lg-4 mb-6">
      <div>
        <label for="chineseNameInput" class="form-label">中文姓名</label>
        <input type="text" class="form-control border-info-200 rounded-0 text-info-200" id="chineseNameInput" placeholder="請輸入您的中文姓名">
      </div>
    </div>
    <div class="col-lg-4 mb-6">
      <div>
        <label for="birthDayInput" class="form-label">出生日期</label>
        <input type="date" class="form-control border-info-200 rounded-0 text-info-200" id="birthDayInput" placeholder="請輸入您的出生日期 ">
      </div>
    </div>
    <div class="col-lg-4 mb-6">
      <div>
        <label class="form-label">性別</label>
        <div class="d-flex gap-6 align-items-center">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="maleRadioDefault1">
          <label class="form-check-label" for="maleRadioDefault1">
           男
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="femaleRadioDefault1">
          <label class="form-check-label" for="femaleRadioDefault1">
            女
          </label>
        </div>
      </div>      
    </div>
    </div>
    <div class="col-lg-4 mb-6">
      <div>
        <label for="idNumberInput" class="form-label">身分證號/統編</label>
        <input type="text" class="form-control border-info-200 rounded-0 text-info-200" id="idNumberInput" placeholder="請輸入您的身分證號/統編">
      </div>
      </div>
    <div class="col-lg-4 mb-6">
      <div>
        <label for="psasportEnglishNameInput" class="form-label">護照英文姓名</label>
        <input type="text" class="form-control border-info-200 rounded-0 text-info-200" id="psasportEnglishNameInput" placeholder="請輸入您的護照英文姓名">
      </div>
      </div>
    <div class="col-lg-4 mb-6">
      <div>
        <label for="psasportNumberInput" class="form-label">護照號碼</label>
        <input type="number" class="form-control border-info-200 rounded-0 text-info-200" id="psasportNumberInput" placeholder="請輸入您的護照號碼">
      </div>
      </div>
    <div class="col-lg-4 mb-6">
      <div>
        <label for="emailInput" class="form-label">電子信箱</label>
        <input type="email" class="form-control border-info-200 rounded-0 text-info-200" id="emailInput" placeholder="請輸入您的電子信箱">
      </div>
      </div>
    <div class="col-lg-4 mb-6">
      <div>
        <label for="cellphoneInput" class="form-label">行動電話</label>
        <input type="tel" class="form-control border-info-200 rounded-0 text-info-200" id="cellphoneInput" placeholder="請輸入您的行動電話">
      </div>
      </div>
    <div class="col-lg-4 mb-6">
      <div>
        <label for="homePhoneInput" class="form-label">市話</label>
        <input type="tel" class="form-control border-info-200 rounded-0 text-info-200" id="homePhoneInput" placeholder="請輸入您的市話">
      </div>
      </div>
    <div class="col-lg-4 mb-6">
      <div>
        <label for="urgentPersonInput" class="form-label">緊急連絡人</label>
        <input type="text" class="form-control border-info-200 rounded-0 text-info-200" id="urgentPersonInput" placeholder="請輸入您的緊急連絡人">
      </div>
      </div>
    <div class="col-lg-4 mb-6">
      <div>
        <label for="urgentPersonRelationInput" class="form-label">緊急聯絡人關係</label>
        <input type="tel" class="form-control border-info-200 rounded-0 text-info-200" id="urgentPersonRelationInput" placeholder="請輸入您與緊急聯絡人關係">
      </div>
      </div>
    <div class="col-lg-4 mb-6">
      <div>
        <label for="urgentPersonPhoneInput" class="form-label">緊急聯絡人電話</label>
        <input type="tel" class="form-control border-info-200 rounded-0 text-info-200" id="urgentPersonPhoneInput" placeholder="請輸入您的緊急聯絡人電話">
      </div>
      </div>
    <div class="col-lg-12 mb-6">
      <div>
        <label for="urgentPersonAddressInput" class="form-label">聯絡地址</label>
        <input type="text" class="form-control border-info-200 rounded-0 text-info-200" id="urgentPersonAddressInput" placeholder="請輸入您的聯絡地址">
      </div>
      </div>
      <div class="col-lg-4 mb-6">
        <div>
          <label class="form-label">單板等級</label>
          <select class="form-select border-info-200 rounded-0 text-info-200" aria-label="Default select">
            <option selected>請選擇您的單板等級</option>
            <option value="1">level 1</option>
            <option value="2">level 2</option>
            <option value="3">level 3</option>
            <option value="4">level 4</option>
            <option value="5">level 5</option>
            <option value="6">level 6</option>         
          </select>
        </div>
        </div>
        <div class="col-lg-4 mb-6">
          <div>
            <label class="form-label">雙板等級</label>
            <select class="form-select border-info-200 rounded-0 text-info-200" aria-label="Default select">
              <option selected>請選擇您的雙板等級</option>
              <option value="1">level 1</option>
              <option value="2">level 2</option>
              <option value="3">level 3</option>
              <option value="4">level 4</option>
              <option value="5">level 5</option>
              <option value="6">level 6</option>         
            </select>
          </div>
          </div>
        <div class="col-lg-4 mb-6">
          <div>
            <label for="levelFormInput" class="form-label">滑雪等級請參考滑雪程度自評表</label>
            <div>
            <input type="checkbox" class="btn-check" id="levelFormInput" autocomplete="off" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <label class="btn btn-sm btn-primary-100 text-white w-100" for="levelFormInput">滑雪程度自評表</label><br>
          </div>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content text-center">
                <div class="modal-header">
                  <h5 class="modal-title text-center" id="exampleModalLabel">滑雪程度自評表</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <table class="table align-middleclearq">
                    <thead>
                      <tr>
                        <th scope="col">單板SnowBoard</th>
                        <th scope="col">Level</th>
                        <th scope="col">雙板Ski</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>第一次滑雪</td>
                        <th scope="row">1</th>
                        <td>第一次滑雪</td>
                      
                      </tr>
                      <tr>
                        <td>可以Heel side or Toe side站立、滑行與煞車
                        </td>
                        <th scope="row">2</th>
                        <td>可以內八字煞車在初級道(綠線)連續轉彎
                        </td>
                       
                      </tr>
                      <tr>
                        <td>可以穩定Heel side or Toe side落葉飄及C turn轉向
                        </td>
                        <th scope="row">3</th>
                        <td>可以在中級道(紅/藍線)連續轉彎</td>                      
                      </tr>

                      <tr>
                        <td>可以在初級道(綠線)連續S turn
                        </td>
                        <th scope="row">4</th>
                        <td>可以在初級道(綠線)連續平行/併腿連續轉彎
                        </td>                      
                      </tr>

                      <tr>
                        <td>可以在中級道(紅/藍線)連續S turn
                        </td>
                        <th scope="row">5</th>
                        <td>可以在中級道(紅/藍線)連續平行/併腿連續轉彎
                        </td>                      
                      </tr>

                      <tr>
                        <td>可以在高階道(黑線)連續S turn及其他進階技術                         
                        </td>
                        <th scope="row">6</th>
                        <td>可以在高階道(黑線)連續平行/併腿連續轉彎及其他進階技術
                        </td>                      
                      </tr>
                     
                    </tbody>
                  </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
          </div>
    

    
    </div>

  
  





</section>

<!--旅客資料2-->
<section class="container mb-md-11 mb-6">
  <hr class="my-0">
  <span class="badge traveler-label mt-md-11 mt-6 fs-md-5 fs-6">旅客 2  成人</span>
  <div class="form-check mt-md-8 mt-6 text-info-100">
    <input class="form-check-input" type="checkbox" value="" id="samePurchasingMan2">
    <label class="form-check-label" for="samePurchasingMan2">
      同訂購人
    </label>
  </div>

    <div class="row mt-md-8 mt-6">
    <div class="col-lg-4 mb-6">
      <div>
        <label for="chineseNameInput2" class="form-label">中文姓名</label>
        <input type="text" class="form-control border-info-200 rounded-0 text-info-200" id="chineseNameInput2" placeholder="請輸入您的中文姓名">
      </div>
    </div>
    <div class="col-lg-4 mb-6">
      <div>
        <label for="birthDayInput2" class="form-label">出生日期</label>
        <input type="date" class="form-control border-info-200 rounded-0 text-info-200" id="birthDayInput2" placeholder="請輸入您的出生日期 ">
      </div>
    </div>
    <div class="col-lg-4 mb-6">
      <div>
        <label class="form-label">性別</label>
        <div class="d-flex gap-6 align-items-center">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="maleRadioDefault2">
          <label class="form-check-label" for="mailRadioDefault2">
           男
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="femaleRadioDefault2">
          <label class="form-check-label" for="femaleRadioDefault2">
            女
          </label>
        </div>
      </div>      
    </div>
    </div>
    <div class="col-lg-4 mb-6">
      <div>
        <label for="idNumberInput2" class="form-label">身分證號/統編</label>
        <input type="text" class="form-control border-info-200 rounded-0 text-info-200" id="idNumberInput2" placeholder="請輸入您的身分證號/統編">
      </div>
      </div>
    <div class="col-lg-4 mb-6">
      <div>
        <label for="psasportEnglishNameInput2" class="form-label">護照英文姓名</label>
        <input type="text" class="form-control border-info-200 rounded-0 text-info-200" id="psasportEnglishNameInput2" placeholder="請輸入您的護照英文姓名">
      </div>
      </div>
    <div class="col-lg-4 mb-6">
      <div>
        <label for="psasportNumberInput2" class="form-label">護照號碼</label>
        <input type="number" class="form-control border-info-200 rounded-0 text-info-200" id="psasportNumberInput2" placeholder="請輸入您的護照號碼">
      </div>
      </div>
    <div class="col-lg-4 mb-6">
      <div>
        <label for="emailInput2" class="form-label">電子信箱</label>
        <input type="email" class="form-control border-info-200 rounded-0 text-info-200" id="emailInput2" placeholder="請輸入您的電子信箱">
      </div>
      </div>
    <div class="col-lg-4 mb-6">
      <div>
        <label for="cellphoneInput2" class="form-label">行動電話</label>
        <input type="tel" class="form-control border-info-200 rounded-0 text-info-200" id="cellphoneInput2" placeholder="請輸入您的行動電話">
      </div>
      </div>
    <div class="col-lg-4 mb-6">
      <div>
        <label for="homePhoneInput2" class="form-label">市話</label>
        <input type="tel" class="form-control border-info-200 rounded-0 text-info-200" id="homePhoneInput2" placeholder="請輸入您的市話">
      </div>
      </div>
    <div class="col-lg-4 mb-6">
      <div>
        <label for="urgentPersonInput2" class="form-label">緊急連絡人</label>
        <input type="text" class="form-control border-info-200 rounded-0 text-info-200" id="urgentPersonInput2" placeholder="請輸入您的緊急連絡人">
      </div>
      </div>
    <div class="col-lg-4 mb-6">
      <div>
        <label for="urgentPersonRelationInput2" class="form-label">緊急聯絡人關係</label>
        <input type="tel" class="form-control border-info-200 rounded-0 text-info-200" id="urgentPersonRelationInput2" placeholder="請輸入您與緊急聯絡人關係">
      </div>
      </div>
    <div class="col-lg-4 mb-6">
      <div>
        <label for="urgentPersonPhoneInput2" class="form-label">緊急聯絡人電話</label>
        <input type="tel" class="form-control border-info-200 rounded-0 text-info-200" id="urgentPersonPhoneInput2" placeholder="請輸入您的緊急聯絡人電話">
      </div>
      </div>
    <div class="col-lg-12 mb-6">
      <div>
        <label for="urgentPersonAddressInput2" class="form-label">聯絡地址</label>
        <input type="text" class="form-control border-info-200 rounded-0 text-info-200" id="urgentPersonAddressInput2" placeholder="請輸入您的聯絡地址">
      </div>
      </div>
      <div class="col-lg-4 mb-6">
        <div>
          <label class="form-label">單板等級</label>
          <select class="form-select border-info-200 rounded-0 text-info-200" aria-label="Default select">
            <option selected>請選擇您的單板等級</option>
            <option value="1">level 1</option>
            <option value="2">level 2</option>
            <option value="3">level 3</option>
            <option value="4">level 4</option>
            <option value="5">level 5</option>
            <option value="6">level 6</option>         
          </select>
        </div>
        </div>
        <div class="col-lg-4 mb-6">
          <div>
            <label class="form-label">雙板等級</label>
            <select class="form-select border-info-200 rounded-0 text-info-200" aria-label="Default select">
              <option selected>請選擇您的雙板等級</option>
              <option value="1">level 1</option>
              <option value="2">level 2</option>
              <option value="3">level 3</option>
              <option value="4">level 4</option>
              <option value="5">level 5</option>
              <option value="6">level 6</option>         
            </select>
          </div>
          </div>
        <div class="col-lg-4 mb-6">
          <div>
            <label for="levelFormInput2" class="form-label">滑雪等級請參考滑雪程度自評表</label>
            <div>
            <input type="checkbox" class="btn-check" id="levelFormInput2" autocomplete="off" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <label class="btn btn-sm btn-primary-100 text-white w-100" for="levelFormInput2">滑雪程度自評表</label><br>
          </div>
          </div>
          <!-- Modal -->
          <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">滑雪程度自評表>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
          </div> -->
    

    
    </div>

  
  





</section>

<!--旅客資料3小孩-->
<section class="container mb-md-11 mb-6">
  <hr class="my-0">
  <span class="badge traveler-label mt-md-11 mt-6 fs-md-5 fs-6">旅客 3  小孩</span>
  <div class="form-check mt-md-8 mt-6 text-info-100">
    <input class="form-check-input" type="checkbox" value="" id="samePurchasingMan3">
    <label class="form-check-label" for="samePurchasingMan3">
      同訂購人
    </label>
  </div>

    <div class="row mt-md-8 mt-6">
    <div class="col-lg-4 mb-6">
      <div>
        <label for="chineseNameInput3" class="form-label">中文姓名</label>
        <input type="text" class="form-control border-info-200 rounded-0 text-info-200" id="chineseNameInput3" placeholder="請輸入您的中文姓名">
      </div>
    </div>
    <div class="col-lg-4 mb-6">
      <div>
        <label for="birthDayInput3" class="form-label">出生日期</label>
        <input type="date" class="form-control border-info-200 rounded-0 text-info-200" id="birthDayInput3" placeholder="請輸入您的出生日期 ">
      </div>
    </div>
    <div class="col-lg-4 mb-6">
      <div>
        <label class="form-label">性別</label>
        <div class="d-flex gap-6 align-items-center">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="maleRadioDefault3">
          <label class="form-check-label" for="mailRadioDefault3">
           男
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="femaleRadioDefault3">
          <label class="form-check-label" for="femaleRadioDefault3">
            女
          </label>
        </div>
      </div>      
    </div>
    </div>
    <div class="col-lg-4 mb-6">
      <div>
        <label for="idNumberInput3" class="form-label">身分證號/統編</label>
        <input type="text" class="form-control border-info-200 rounded-0 text-info-200" id="idNumberInput3" placeholder="請輸入您的身分證號/統編">
      </div>
      </div>
    <div class="col-lg-4 mb-6">
      <div>
        <label for="psasportEnglishNameInput3" class="form-label">護照英文姓名</label>
        <input type="text" class="form-control border-info-200 rounded-0 text-info-200" id="psasportEnglishNameInput3" placeholder="請輸入您的護照英文姓名">
      </div>
      </div>
    <div class="col-lg-4 mb-6">
      <div>
        <label for="psasportNumberInput3" class="form-label">護照號碼</label>
        <input type="number" class="form-control border-info-200 rounded-0 text-info-200" id="psasportNumberInput3" placeholder="請輸入您的護照號碼">
      </div>
      </div>
    <div class="col-lg-4 mb-6">
      <div>
        <label for="emailInput3" class="form-label">電子信箱</label>
        <input type="email" class="form-control border-info-200 rounded-0 text-info-200" id="emailInput3" placeholder="請輸入您的電子信箱">
      </div>
      </div>
    <div class="col-lg-4 mb-6">
      <div>
        <label for="cellphoneInput3" class="form-label">行動電話</label>
        <input type="tel" class="form-control border-info-200 rounded-0 text-info-200" id="cellphoneInput3" placeholder="請輸入您的行動電話">
      </div>
      </div>
    <div class="col-lg-4 mb-6">
      <div>
        <label for="homePhoneInput3" class="form-label">市話</label>
        <input type="tel" class="form-control border-info-200 rounded-0 text-info-200" id="homePhoneInput3" placeholder="請輸入您的市話">
      </div>
      </div>
    <div class="col-lg-4 mb-6">
      <div>
        <label for="urgentPersonInput3" class="form-label">緊急連絡人</label>
        <input type="text" class="form-control border-info-200 rounded-0 text-info-200" id="urgentPersonInput3" placeholder="請輸入您的緊急連絡人">
      </div>
      </div>
    <div class="col-lg-4 mb-6">
      <div>
        <label for="urgentPersonRelationInput3" class="form-label">緊急聯絡人關係</label>
        <input type="tel" class="form-control border-info-200 rounded-0 text-info-200" id="urgentPersonRelationInput3" placeholder="請輸入您與緊急聯絡人關係">
      </div>
      </div>
    <div class="col-lg-4 mb-6">
      <div>
        <label for="urgentPersonPhoneInput3" class="form-label">緊急聯絡人電話</label>
        <input type="tel" class="form-control border-info-200 rounded-0 text-info-200" id="urgentPersonPhoneInput3" placeholder="請輸入您的緊急聯絡人電話">
      </div>
      </div>
    <div class="col-lg-12 mb-6">
      <div>
        <label for="urgentPersonAddressInput3" class="form-label">聯絡地址</label>
        <input type="text" class="form-control border-info-200 rounded-0 text-info-200" id="urgentPersonAddressInput3" placeholder="請輸入您的聯絡地址">
      </div>
      </div>
      <div class="col-lg-4 mb-6">
        <div>
          <label class="form-label">單板等級</label>
          <select class="form-select border-info-200 rounded-0 text-info-200" aria-label="Default select">
            <option selected>請選擇您的單板等級</option>
            <option value="1">level 1</option>
            <option value="2">level 2</option>
            <option value="3">level 3</option>
            <option value="4">level 4</option>
            <option value="5">level 5</option>
            <option value="6">level 6</option>         
          </select>
        </div>
        </div>
        <div class="col-lg-4 mb-6">
          <div>
            <label class="form-label">雙板等級</label>
            <select class="form-select border-info-200 rounded-0 text-info-200" aria-label="Default select">
              <option selected>請選擇您的雙板等級</option>
              <option value="1">level 1</option>
              <option value="2">level 2</option>
              <option value="3">level 3</option>
              <option value="4">level 4</option>
              <option value="5">level 5</option>
              <option value="6">level 6</option>         
            </select>
          </div>
          </div>
        <div class="col-lg-4 mb-6">
          <div>
            <label for="levelFormInput3" class="form-label">滑雪等級請參考滑雪程度自評表</label>
            <div>
            <input type="checkbox" class="btn-check" id="levelFormInput3" autocomplete="off" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <label class="btn btn-sm btn-primary-100 text-white w-100" for="levelFormInput3">滑雪程度自評表</label><br>
          </div>
          </div>
          <!-- Modal -->
          <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">滑雪程度自評表</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
          </div> -->
    

    
    </div>

    <div class="d-flex justify-content-center gap-6 my-lg-19 my-6">
      <a href="cart-schedule.html" class="btn btn-page border-info-300 fw-bold link-info-100">上一步</a>
      <a href="cart-rental.html" class="btn btn-page btn-primary-100 link-light fw-bold">下一步</a>
    </div> 
  





</section>





<%- include('./layout/footer'); -%>

<script type="module" src="../main.js"></script>
</body>
</html>