<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>雪域狂歡</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="swiper mySwiper index-banner">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="../assets/images/banner01.png" alt="banner-01"></div>
        <div class="swiper-slide"><img src="../assets/images/banner05.jpg" alt="banner-05"></div>
        <div class="swiper-slide"><img src="../assets/images/banner02.png" alt="banner-02"></div>
        <div class="swiper-slide"><img src="../assets/images/banner04.jpg" alt="banner-04"></div> 
      </div>
      <div class="swiper-button-next text-white d-none d-xxl-block"></div>
      <div class="swiper-button-prev text-white d-none d-xxl-block"></div>
      <div class="swiper-pagination"></div>
    </div>
    <div class="container banner-content position-relative position-absolute start-50 translate-middle-x overflow-hidden" style="z-index: 1;">
      <div class="d-flex justify-content-between align-items-end">
        <p class="en text-white animate__animated animate__backInLeft" style="font-family:'Bowlby One SC';">Skiing<br>closer<br>than<br>ever</p>
        <p class="fs-lg-1 fs-md-2 fs-sm-4 fs-6 ls-1 fw-bold text-white animate__animated animate__backInRight" style="line-height: 1.2;">前進滑雪<br>不再是距離。</p>
      </div>
      <img src="../assets/images/line01.png" alt="line" class="img-fluid position-absolute animate__animated animate__backInDown">
    </div>
    <div>
      <div class="container pb-12 pb-sm-19 text-center">
        <p class="text-info-200 fs-10 fs-sm-6 ls-1 mb-1 mb-sm-2 source-sans-pro">解鎖屬於你的</p>
        <h2 class="text-info-100 fs-6 fs-sm-3 ls-1 position-relative" data-aos="zoom-in" data-aos-duration="1500">雪域之旅
          <img src="../assets/images/line02.png" alt="line02" class="position-absolute top-100 start-50 translate-middle d-none d-sm-inline-block">
          <img src="../assets/images/line02_mobile.png" alt="line02" class="position-absolute top-100 start-50 translate-middle d-sm-none">
        </h2>
        <ul class="list-unstyled row mt-lg-11 mt-4 mb-0 banner-interact">
          <li class="col-6 col-lg-3 mb-6 mb-lg-0 py-3 py-lg-8">
            <a href="#aboutus">
              <img src="../assets/images/about us.png" alt="aboutus" class="aboutus-icon img-fluid mb-4 d-none d-sm-inline-block animate__animated animate__bounce animate__infinite animate__slower">
              <img src="../assets/images/about us_sm.png" alt="aboutus" class="aboutus-icon img-fluid mb-2 d-sm-none animate__animated animate__bounce animate__infinite animate__slower">
              <h3 class="fs-8 fs-sm-5 text-info-100 mb-1">關於我們</h3>
              <p class="fs-9 fs-sm-6 text-info-200 ls-1 source-sans-pro more">看更多</p>
              <p class="fs-9 fs-sm-6 text-info-200 ls-1 source-sans-pro more-hover">看更多 <img src="../assets/images/more.png" alt="more" class="mb-1"></p>
            </a>
          </li>
          <li class="col-6 col-lg-3 mb-6 mb-lg-0 py-3 py-lg-8">
            <a href="#latest">
              <img src="../assets/images/latest.png" alt="latest" class="latest-icon img-fluid mb-4 d-none d-sm-inline-block animate__animated animate__pulse animate__infinite animate__slower">
              <img src="../assets/images/latest_sm.png" alt="latest" class="latest-icon img-fluid mb-2 d-sm-none animate__animated animate__pulse animate__infinite animate__slower">
              <h3 class="fs-8 fs-sm-5 text-info-100 mb-1">最新活動</h3>
              <p class="fs-9 fs-sm-6 text-info-200 ls-1 source-sans-pro more">看更多</p>
              <p class="fs-9 fs-sm-6 text-info-200 ls-1 source-sans-pro more-hover">看更多 <img src="../assets/images/more.png" alt="more" class="mb-1"></p>
            </a>
          </li>
          <li class="col-6 col-lg-3 py-3 py-lg-8">
            <a href="#skiresort">
              <img src="../assets/images/ski resort.png" alt="skiresort" class="skiresort-icon img-fluid mb-4 d-none d-sm-inline-block animate__animated animate__swing animate__infinite animate__slower">
              <img src="../assets/images/ski resort_sm.png" alt="skiresort" class="skiresort-icon img-fluid mb-2 d-sm-none animate__animated animate__swing  animate__infinite animate__slower">
              <h3 class="fs-8 fs-sm-5 text-info-100 mb-1">雪場簡介</h3>
              <p class="fs-9 fs-sm-6 text-info-200 ls-1 source-sans-pro more">看更多</p>
              <p class="fs-9 fs-sm-6 text-info-200 ls-1 source-sans-pro more-hover">看更多 <img src="../assets/images/more.png" alt="more" class="mb-1"></p>
            </a>
          </li>
          <li class="col-6 col-lg-3 py-3 py-lg-8">
            <a href="#team">
              <img src="../assets/images/team.png" alt="team"  class="team-icon img-fluid mb-4 d-none d-sm-inline-block animate__animated animate__bounce animate__infinite animate__slower">
              <img src="../assets/images/team_sm.png" alt="team"  class="team-icon img-fluid mb-2 d-sm-none animate__animated animate__bounce animate__infinite animate__slower">
              <h3 class="fs-8 fs-sm-5 text-info-100 mb-1">教練團隊</h3>
              <p class="fs-9 fs-sm-6 text-info-200 ls-1 source-sans-pro more">看更多</p>
              <p class="fs-9 fs-sm-6 text-info-200 ls-1 source-sans-pro more-hover">看更多 <img src="../assets/images/more.png" alt="more" class="mb-1"></p>
            </a>
          </li>
        </ul>
      </div>
      <div id="aboutus" class="container">
        <div class="aboutus-text mb-6 mb-md-11">
          <h2 class="text-center roboto fs-3 fs-sm-2 text-info-100 mb-6 mb-sm-8 about-snow-pick position-relative" data-aos="flip-down" data-aos-duration="800">About Snow Pick</h2>
          <p class="mb-4 mb-lg-8 fs-sm-6 ls-md-1 text-center source-sans-pro">雪域狂歡專為滑雪愛好者精心打造，提供全面而有趣的滑雪體驗。</p>
          <p class="fs-sm-6 ls-md-1 text-center source-sans-pro">我們致力簡化滑雪的繁瑣流程，精選優質滑雪行程，從熱門滑雪勝地到隱藏雪域秘境一應俱全，無論是滑雪新手還是經驗豐富的達人，都能在雪域狂歡輕鬆開啟一場獨一無二的冰雪冒險。</p>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>AOS.init();</script>
  </body>
</html>
