<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>雪域狂歡</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>


   
    <div class="index-bg position-relative">
      <div class="container pb-12 pb-sm-19 text-center block2">
        <p class="text-info-200 fs-10 fs-md-6 ls-1 mb-1 mb-sm-2 source-sans-pro">解鎖屬於你的</p>
        <h2 class="text-info-100 fs-6 fs-md-3 ls-1 position-relative" data-aos="zoom-in" data-aos-duration="1500">雪域之旅
          <img src="../assets/img/line02.png" alt="line02" class="position-absolute top-100 start-50 translate-middle d-none d-md-inline-block">
          <img src="../assets/img/line02_mobile.png" alt="line02" class="position-absolute top-100 start-50 translate-middle d-md-none">
        </h2>
        <ul class="list-unstyled row mt-lg-11 mt-7 mb-0 banner-interact">
          <li class="col-6 col-lg-3 mb-6 mb-lg-0 py-3 py-lg-8">
            <a href="#aboutus">
              <div class="d-none d-md-inline-block mb-4">
                <img src="../assets/img/about us.png" alt="aboutus" class="aboutus-icon animate__animated animate__bounce animate__infinite animate__slower">
                <img src="../assets/img/about_us_hover.png" alt="aboutus" class="aboutus-icon-hover animate__animated animate__bounce animate__infinite animate__slower">
              </div>
              <div class="d-md-none mb-2">
                <img src="../assets/img/about us_sm.png" alt="aboutus" class="aboutus-icon animate__animated animate__bounce animate__infinite animate__slower">
                <img src="../assets/img/about_us_hover.png" alt="aboutus" class="aboutus-icon-hover animate__animated animate__bounce animate__infinite animate__slower" style="width: 88px; height: 88px;">
              </div>  
              <h3 class="fs-8 fs-md-5 text-info-100">關於我們</h3>
              <p class="fs-9 fs-md-6 text-info-200 ls-1 source-sans-pro more mt-1">看更多</p>
              <p class="fs-9 fs-md-6 text-info-200 ls-1 source-sans-pro more-hover mt-sm-1">看更多 <img src="../assets/img/more.png" alt="more" class="mb-1"></p>
            </a>
          </li>
          <li class="col-6 col-lg-3 mb-6 mb-lg-0 py-3 py-lg-8">
            <a href="#latest">
              <div class="d-none d-md-inline-block mb-4">
                <img src="../assets/img/latest.png" alt="latest" class="latest-icon animate__animated animate__pulse animate__infinite animate__slower">
                <img src="../assets/img/latest_hover.png" alt="latest" class="latest-icon-hover animate__animated animate__pulse animate__infinite animate__slower">
              </div>
              <div class="d-md-none mb-2">
                <img src="../assets/img/latest_sm.png" alt="latest" class="latest-icon animate__animated animate__pulse animate__infinite animate__slower">
                <img src="../assets/img/latest_hover.png" alt="latest" class="latest-icon-hover animate__animated animate__pulse animate__infinite animate__slower" style="width: 88px; height: 88px;">
              </div>                
              <h3 class="fs-8 fs-md-5 text-info-100">最新活動</h3>
              <p class="fs-9 fs-md-6 text-info-200 ls-1 source-sans-pro more mt-1">看更多</p>
              <p class="fs-9 fs-md-6 text-info-200 ls-1 source-sans-pro more-hover mt-sm-1">看更多 <img src="../assets/img/more.png" alt="more" class="mb-1"></p>
            </a>
          </li>
          <li class="col-6 col-lg-3 py-3 py-lg-8">
            <a href="#skiresort">
              <div class="d-none d-md-inline-block mb-4">
                <img src="../assets/img/ski resort.png" alt="skiResort" class="ski-resort-icon animate__animated animate__swing animate__infinite animate__slower">
                <img src="../assets/img/ski resort_hover.png" alt="skiResort" class="ski-resort-icon-hover animate__animated animate__swing animate__infinite animate__slower">
              </div>
              <div class="d-md-none mb-2">
                <img src="../assets/img/ski resort_sm.png" alt="skiResort" class="ski-resort-icon animate__animated animate__swing animate__infinite animate__slower">
                <img src="../assets/img/ski resort_hover.png" alt="skiResort" class="ski-resort-icon-hover animate__animated animate__swing animate__infinite animate__slower" style="width: 88px; height: 88px;">
              </div>  
              <h3 class="fs-8 fs-md-5 text-info-100">雪場簡介</h3>
              <p class="fs-9 fs-md-6 text-info-200 ls-1 source-sans-pro more mt-1">看更多</p>
              <p class="fs-9 fs-md-6 text-info-200 ls-1 source-sans-pro more-hover mt-sm-1">看更多 <img src="../assets/img/more.png" alt="more" class="mb-1"></p>
            </a>
          </li>
          <li class="col-6 col-lg-3 py-3 spy-lg-8">
            <a href="#team">
              <div class="d-none d-md-inline-block mb-4">
                <img src="../assets/img/team.png" alt="team" class="team-icon animate__animated animate__bounce animate__infinite animate__slower">
                <img src="../assets/img/team_hover.png" alt="team" class="team-icon-hover animate__animated animate__bounce animate__infinite animate__slower">
              </div>
              <div class="d-md-none mb-2">
                <img src="../assets/img/team_sm.png" alt="team" class="team-icon animate__animated animate__bounce animate__infinite animate__slower">
                <img src="../assets/img/team_hover.png" alt="team" class="team-icon-hover animate__animated animate__bounce animate__infinite animate__slower" style="width: 88px; height: 88px;">
              </div>  
              <h3 class="fs-8 fs-md-5 text-info-100">教練團隊</h3>
              <p class="fs-9 fs-md-6 text-info-200 ls-1 source-sans-pro more mt-1">看更多</p>
              <p class="fs-9 fs-md-6 text-info-200 ls-1 source-sans-pro more-hover mt-sm-1">看更多 <img src="../assets/img/more.png" alt="more" class="mb-1"></p>
            </a>
          </li>
        </ul>
      </div>
      <div id="aboutus" class="container aboutus">
        <div class="aboutus-text mb-6 mb-md-11">
          <h2 class="text-center fs-3 fs-md-2 text-info-100 mb-6 mb-sm-8 about-snow-pick position-relative" data-aos="flip-down" data-aos-duration="800">About Snow Pick</h2>
          <p class="mb-4 mb-lg-8 fs-sm-7 fs-md-6 ls-md-1 text-center source-sans-pro">雪域狂歡專為滑雪愛好者精心打造，提供全面而有趣的滑雪體驗。</p>
          <p class="fs-sm-7 fs-md-6 ls-md-1 text-center source-sans-pro">我們致力簡化滑雪的繁瑣流程，精選優質滑雪行程，從熱門滑雪勝地到隱藏雪域秘境一應俱全，無論是滑雪新手還是經驗豐富的達人，都能在雪域狂歡輕鬆開啟一場獨一無二的冰雪冒險。</p>
        </div>
        <ul class="list-unstyled">
          <li class="position-relative">
              <img src="../assets/img/aboutus01.png" alt="about01" class="aboutus-img img-fluid" data-aos="zoom-in-right" data-aos-duration="1000">
              <div class="p-4 px-sm-6 bg-white aboutus-content position-absolute position-relative" data-aos="fade-right">
                <img src="../assets/img/label.png" alt="label" class="position-absolute bottom-50 end-0" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                <h3 class="text-info-100 mb-3 fs-8 fs-sm-6 fs-lg-5" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1200">豐富的滑雪團選擇</h3>
                <p class="text-info-200 source-sans-pro fs-sm-7 fs-lg-6 ls-1" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1200">精心挑選各類滑雪團，涵蓋熱門滑雪勝地和隱藏版雪域秘境，滿足不同滑雪愛好者的需求。</p>
              </div>
          </li>
          <li>
            <div class="position-relative aboutus-02 about02">
              <img src="../assets/img/aboutus02.png" alt="about02" class="aboutus-img img-fluid" data-aos="zoom-in-right" data-aos-duration="1000">
              <div class="p-4 px-sm-6 bg-white aboutus-content position-absolute position-relative" data-aos="fade-right">
                <img src="../assets/img/label2.png" alt="label" class="position-absolute bottom-50 end-0 mb-sm-4" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                <h3 class="text-info-100 mb-3 fs-8 fs-sm-6 fs-lg-5" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1200">優質細心經驗豐富的<br>教練團隊</h3>
                <p class="text-info-200 source-sans-pro fs-sm-7 fs-lg-6 ls-1" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1200">我們的合作教練均取得國際組織教學認證，擁有專業及豐富教學經驗，提供安全、系統性的滑雪指導。</p>
              </div>
            </div>
          </li>
          <li class="d-flex">
            <div class="position-relative aboutus-03 about03 ms-lg-auto">
              <img src="../assets/img/aboutus03.png" alt="about03" class="aboutus-img img-fluid" data-aos="zoom-in-right" data-aos-duration="1000">
              <div class="p-4 px-sm-6 bg-white aboutus-content position-absolute position-relative end-0" data-aos="fade-right">
                <img src="../assets/img/label3.png" alt="label" class="position-absolute bottom-50 end-0" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                <h3 class="text-info-100 mb-3 fs-8 fs-sm-6 fs-lg-5" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1200">住宿、課程、攝影一站完成</h3>
                <p class="text-info-200 source-sans-pro fs-sm-7 fs-lg-6 ls-1" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1200">精選住宿地點均臨近滑雪場，方便滑雪者在活動後輕鬆返回休息，並提供專屬攝影服務，讓您留下美好回憶。</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div id="latest" class="latest bg-primary-400">
        <div class="container py-9 py-lg-19">
          <h2 class="ls-1 text-info-100 fs-5 fs-md-3 mb-md-11 mb-6 animate__lightSpeedInLeft animate__animated">雪域快訊</h2>
          <div class="swiper latest-swiper">
            <div class="swiper-wrapper mb-6 mb-md-11">
              <div class="swiper-slide" style="width: 306px;">
                <div class="card rounded-0 border-0" style="width: 306px;">
                  <a href="#"><img src="../assets/img/latest01.png" class="card-img-top rounded-0" alt="白馬雪場三日行"></a>
                  <div class="card-body p-md-6">
                    <a href="#" class="fs-8 fs-md-5 text-info-100 mb-3"><h3 class="card-title">白馬雪場三日行</h3></a>
                    <a href="#" class="btn btn-outline-primary-100 rounded-1 text-primary-100 fw-normal px-2 bg-primary-400 me-2">長野</a>
                    <a href="#" class="btn btn-outline-primary-100 rounded-1 text-primary-100 fw-normal px-2 bg-primary-400">三日滑雪</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide" style="width: 306px;">
                <div class="card rounded-0 border-0" style="width: 306px;">
                  <a href="./itineraryDetail-content.html"><img src="../assets/img/latest02.png" class="card-img-top rounded-0" alt="苗場滑雪行"></a>
                  <div class="card-body p-md-6">
                    <a href="./itineraryDetail-content.html" class="fs-8 fs-md-5 text-info-100 mb-3"><h3 class="card-title">苗場滑雪行</h3></a>
                    <a href="#" class="btn btn-outline-primary-100 rounded-1 text-primary-100 fw-normal px-2 bg-primary-400 me-2">新瀉</a>
                    <a href="#" class="btn btn-outline-primary-100 rounded-1 text-primary-100 fw-normal px-2 bg-primary-400 me-2">三日滑雪</a>
                    <a href="#" class="btn btn-outline-primary-100 rounded-1 text-primary-100 fw-normal px-2 bg-primary-400">溫泉住宿</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide" style="width: 306px;">
                <div class="card rounded-0 border-0" style="width: 306px;">
                  <a href="#"><img src="../assets/img/latest03.png" class="card-img-top rounded-0" alt="岩原家庭滑雪行"></a>
                  <div class="card-body p-md-6">
                    <a href="#" class="fs-8 fs-md-5 text-info-100 mb-3"><h3 class="card-title">岩原家庭滑雪行</h3></a>
                    <a href="#" class="btn btn-outline-primary-100 rounded-1 text-primary-100 fw-normal px-2 bg-primary-400 me-2">長野</a>
                    <a href="#" class="btn btn-outline-primary-100 rounded-1 text-primary-100 fw-normal px-2 bg-primary-400 me-2">三日滑雪</a>
                    <a href="#" class="btn btn-outline-primary-100 rounded-1 text-primary-100 fw-normal px-2 bg-primary-400"> 親子滑雪</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide" style="width: 306px;">
                <div class="card rounded-0 border-0">
                  <a href="#"></a><img src="../assets/img/latest04.png" class="card-img-top rounded-0" alt="藏王七宿滑雪行"></a>
                  <div class="card-body p-md-6">
                    <a href="#" class="fs-8 fs-md-5 text-info-100 mb-3"><h3 class="card-title">藏王七宿滑雪行</h3></a>
                    <a href="#" class="btn btn-outline-primary-100 rounded-1 text-primary-100 fw-normal px-2 bg-primary-400 me-2">宮城</a>
                    <a href="#" class="btn btn-outline-primary-100 rounded-1 text-primary-100 fw-normal px-2 bg-primary-400 me-2">樹冰</a>
                    <a href="#" class="btn btn-outline-primary-100 rounded-1 text-primary-100 fw-normal px-2 bg-primary-400"> 兩日滑雪</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-sm-end text-center animate__animated animate__headShake animate__infinite animate__slow">
            <a href="#" class="d-none d-sm-inline-block btn btn-primary-100 text-white fw-normal px-6 py-4 fw-bold fs-6">了解更多<img src="../assets/img/more_white.png" alt="white-arrow" class="ms-3 mb-2"></a>
            <a href="#" class="d-sm-none btn btn-dark text-white fw-normal px-4 fw-bold " >了解更多<img src="../assets/img/more_white.png" alt="white-arrow" class="ms-3 mb-2"></a>
          </div>
        </div>
      </div>
      <div style="height: 1367px;"></div>
      <div style="height: 1020px;" class="bg-primary-400"></div>
    </div>

    <%- include('./layout/footer-index'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>AOS.init();</script>
  </body>
</html>
