<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>雪域狂歡</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="swiper mySwiper index-banner">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="../assets/images/banner01.png" alt="banner-01"></div>
        <div class="swiper-slide"><img src="../assets/images/banner05.jpg" alt="banner-05"></div>
        <div class="swiper-slide"><img src="../assets/images/banner02.png" alt="banner-02"></div>
        <div class="swiper-slide"><img src="../assets/images/banner04.jpg" alt="banner-04"></div> 
      </div>
      <div class="swiper-button-next text-white d-none d-xxl-block"></div>
      <div class="swiper-button-prev text-white d-none d-xxl-block"></div>
      <div class="swiper-pagination"></div>
    </div>
    <div class="container banner-content position-relative position-absolute start-50 translate-middle-x overflow-hidden" style="z-index: 1000;">
      <div class="d-flex justify-content-between align-items-end">
        <p class="en text-white animate__animated animate__backInLeft" style="font-family:'Bowlby One SC';">Skiing<br>closer<br>than<br>ever</p>
        <p class="fs-lg-1 fs-md-2 fs-sm-4 fs-6 ls-1 fw-bold text-white animate__animated animate__backInRight" style="line-height: 1.2;">前進滑雪<br>不再是距離。</p>
      </div>
      <img src="../assets/images/line01.png" alt="line" class="img-fluid position-absolute animate__animated animate__backInDown">
    </div>
 
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>AOS.init();</script>
  </body>
</html>
