<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>雪域狂歡</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <div class="container py-11">
        <div class="row">
            <div class="col-lg-4 col-xxl-3">
                <a href="itineraryDetail-content-singUpPossible.html">
                    <div class="card rounded-0">
                        <img src="../assets/img/latest02.png" class="card-img-top rounded-0" alt="苗場滑雪行-單板初級">
                        <div class="card-body">
                            <small class="ls-1">2024/12/16(一)</small>
                            <h5 class="card-title text-info-100 fs-lg-6 my-2 ls-1">苗場滑雪行 - 單板初級</h5>
                            <small class="card-text">名額10 / 可報名5</small>
                            <div class="mt-2 pt-3 d-flex justify-content-between align-items-center" style="border-top: 2px dotted #E4E4E4;">
                                <p class="fs-9">售價</p>
                                <p class="text-danger fw-bold fs-6">NT$ 28,800</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-xxl-3">
                <a href="itineraryDetail-content-singUpPossible.html">
                    <div class="card rounded-0">
                        <img src="../assets/img/latest05.png" class="card-img-top rounded-0" alt="岩原滑雪行 - 單板中級">
                        <div class="card-body">
                            <small class="ls-1">2024/12/21(六)</small>
                            <h5 class="card-title text-info-100 fs-lg-6 my-2 ls-1">岩原滑雪行 - 單板中級</h5>
                            <small class="card-text">名額10 / 可報名4</small>
                            <div class="mt-2 pt-3 d-flex justify-content-between align-items-center" style="border-top: 2px dotted #E4E4E4;">
                                <p class="fs-9">售價</p>
                                <p class="text-danger fw-bold fs-6">NT$ 29,000</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-xxl-3">
                <a href="itineraryDetail-content-singUpPossible.html">
                    <div class="card rounded-0">
                        <img src="../assets/img/latest06.png" class="card-img-top rounded-0" alt="藏王七宿滑雪行-雙板高級">
                        <div class="card-body">
                            <small>2025/01/27(一)</small>
                            <h5 class="card-title text-info-100 fs-lg-6 my-2">藏王七宿滑雪行 - 雙板高級</h5>
                            <small class="card-text">名額10 / 可報名2</small>
                            <div class="mt-2 pt-3 d-flex justify-content-between align-items-center" style="border-top: 2px dotted #E4E4E4;">
                                <p class="fs-9">售價</p>
                                <p class="text-danger fw-bold fs-6">NT$ 44,000</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-xxl-3">
                <a href="itineraryDetail-content-singUpPossible.html">
                    <div class="card rounded-0">
                        <img src="../assets/img/latest02.png" class="card-img-top rounded-0" alt="苗場滑雪行-單板初級">
                        <div class="card-body">
                            <small class="ls-1">2024/12/16(一)</small>
                            <h5 class="card-title text-info-100 fs-lg-6 my-2 ls-1">苗場滑雪行 - 單板初級</h5>
                            <small class="card-text">名額10 / 可報名10</small>
                            <div class="mt-2 pt-3 d-flex justify-content-between align-items-center" style="border-top: 2px dotted #E4E4E4;">
                                <p class="fs-9">售價</p>
                                <p class="text-danger fw-bold fs-6">NT$ 28,800</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <%- include('./layout/footer'); -%>
    
    <script type="module" src="../main.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>AOS.init();</script>
  </body>
</html>
