<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="icon" href="../assets/img/snowboarding-icon.png" type="snowpick-icon" />
  <title>苗場滑雪三日行</title>
</head>

<body>
  <header class="header-itinerary header-itinerary-bg mb-6 mb-lg-19">
    <%- include('./layout/header-itinerary'); -%>
      <div class="container py-6 pb-lg-11 flex-fill d-flex flex-column justify-content-between align-items-start">
        <ul class="list-unstyled d-flex ls-1 mb-11 fs-9 fs-lg-8">
          <li><a href="##" class="link-light">首頁</a><i class="bi bi-chevron-right text-light mx-2"></i></li>
          <li><a href="##" class="link-light">日本</a><i class="bi bi-chevron-right text-light mx-2"></i></li>
          <li><a href="##" class="link-light">苗場滑雪三日行｜單板初級</a></li>
        </ul>
        <h2 class="text-light fs-6 fs-lg-3 ls-1">苗場滑雪三日行｜單板初級</h2>
      </div>
  </header>
  <section class="mb-6 mb-lg-11">
    <div class="container">
      <div class="row align-items-lg-start g-4 g-lg-6">
        <div class="col-lg-9">
          <div class="d-flex flex-column p-3 p-lg-6 bg-primary-400">
            <span class="fs-6 fs-lg-5 fw-semibold text-info-100 mb-4">出發日期：2024 / 12 / 23</span>
            <p class="fs-8 fs-lg-6 ls-lg-1">
              苗場滑雪場是日本知名的滑雪勝地，以其廣闊的雪道和迷人景色著稱。三日行程包含入住豪華王子大飯店，並由專業教練根據每位學員的程度提供量身指導。這趟旅程將幫助您建立單板滑雪的基本技能，讓您自信地在滑雪場上享受各種滑雪興趣，並感受苗場的美麗雪景。
            </p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="d-flex flex-column p-4 py-lg-10 px-lg-6">
            <span class="mb-6 fs-5 fw-bold text-info-100 d-flex align-items-lg-center" style="font-family: roboto;">
              <span class="me-3">NT$</span><span class="fs-lg-3">28,000</span>
            </span>
            <!--這裡有問題，為什麼要需要另外加me-6，看起來整個元素超出container了
             -->
            <a href="##" class="btn btn-primary-100 text-light fs-lg-6 lh-sm">立即預訂</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pb-lg-7">
    <div class="container">
      <div class="swiper itineraryDetail-swiper mb-6 mb-lg-11 ">
        <div class="swiper-wrapper fs-8 fs-lg-6">
          <div class="swiper-slide">
            <a class="slide-link d-block w-100 py-4" href="./itineraryDetail-content-signUpPossible.html">行程內容</a>
          </div>
          <div class="swiper-slide">
            <a class="slide-link d-block w-100 py-4 active" href="##">教學項目</a>
          </div>
          <div class="swiper-slide">
            <a class="slide-link d-block w-100 py-4" href="##">費用說明</a>
          </div>
          <div class="swiper-slide">
            <a class="slide-link d-block w-100 py-4" href="itineraryDetail-equipment-signUpPossible.html">雪具裝備</a>
          </div>
          <div class="swiper-slide">
            <a class="slide-link d-block w-100 py-4" href="##">注意事項</a>
          </div>
        </div>
        <div class="itineraryDetail-swiper-next d-lg-none"><i class="bi bi-chevron-right"></i></div>
        <div class="itineraryDetail-swiper-prev d-lg-none"><i class="bi bi-chevron-left"></i></div>
      </div>
      <ul class="m-0 list-unstyled fs-8 fs-lg-6">
        <li>
          <div class="deco-itineraryDetail-courseList-content p-3 p-lg-6 bg-primary-400 mb-11 position-relative">
            <div class="bg-itineraryDetail-courseListHead mb-8 itineraryDetail-courseListHead list-unstyled d-flex align-items-center gap-4 gap-lg-8">
              <span class="deco-itineraryDetail-courseList fs-6 fs-lg-5 fw-bold text-light lh-1">
                DAY 01
              </span>
              <h3 class="fs-7 fs-lg-4 text-info-100 text-primary-400">裝備介紹</h3>
            </div>
            <ul class="list-unstyled d-flex flex-column gap-4 gap-lg-8 mb-4 text-info-100">
              <li class="d-flex flex-column gap-2 align-items-start align-items-lg-start fs-8 fs-lg-6">
                <h4 class="fs-8 fs-lg-6 text-nowrap lh-base"><i class="bi bi-check2-circle me-2"></i>基礎入門</h4>
                <span>了解單板滑雪裝備的基本組成，包括單板、雪靴和綁帶，學習如何正確穿戴和調整裝備。</span>
              </li>
              <li class="d-flex flex-column gap-2 align-items-start align-items-lg-start ">
                <h4 class="fs-8 fs-lg-6 text-nowrap lh-base"><i class="bi bi-check2-circle me-2"></i>基本姿勢與平衡</h4>
                <span>學習正確的站姿和保持平衡的方法，包括如何用膝蓋和腳踝調整姿勢以適應雪地。</span>
              </li>
              <li class="d-flex flex-column gap-2 align-items-start align-items-lg-start ">
                <h4 class="fs-8 fs-lg-6 text-nowrap lh-base"><i class="bi bi-check2-circle me-2"></i>基礎滑行 - Heel Sides
                </h4>
                <span>在平地上練習單板的基本滑行技巧。學習如何用腳踝控制單板，保持平衡並前進。</span>
              </li>
              <li class="d-flex flex-column gap-2 align-items-start align-items-lg-start ">
                <h4 class="fs-8 fs-lg-6 text-nowrap lh-base"><i class="bi bi-check2-circle me-2"></i>簡單轉彎</h4>
                <span>介紹基礎轉彎技巧，包括如何在單板上進行簡單的轉彎動作，如用體重轉移來改變方向。</span>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="deco-itineraryDetail-courseList-content p-3 p-lg-6 bg-primary-400 mb-11 position-relative">
            <!-- <span class="deco-itineraryDetail-courseList d-none d-lg-block text-light text-center fw-bold">
              DAY<br>02
            </span> -->
            <div class="bg-itineraryDetail-courseListHead mb-8 itineraryDetail-courseListHead list-unstyled d-flex align-items-center gap-4 gap-lg-8">
              <span class="deco-itineraryDetail-courseList fs-6 fs-lg-5 fw-bold text-light lh-1">
                DAY 02
              </span>
              <h3 class="fs-7 fs-lg-4 text-info-100 text-primary-400">技能提升</h3>
            </div>
            <ul class="list-unstyled d-flex flex-column gap-4 gap-lg-8 mb-4 text-info-100">
              <li class="d-flex flex-column gap-2 align-items-start align-items-lg-start fs-8 fs-lg-6">
                <h4 class="fs-8 fs-lg-6 text-nowrap lh-base"><i class="bi bi-check2-circle me-2"></i>滑行控制</h4>
                <span>進一步練習滑行技巧，控制速度和方向。學習如何使用膝蓋和腳踝來進行更精確的控制。</span>
              </li>
              <li class="d-flex flex-column gap-2 align-items-start align-items-lg-start ">
                <h4 class="fs-8 fs-lg-6 text-nowrap lh-base"><i class="bi bi-check2-circle me-2"></i>基本刹車技巧</h4>
                <span>學習如何通過變換重心和姿勢來減速或停止，掌握基本的刹車技巧。</span>
              </li>
              <li class="d-flex flex-column gap-2 align-items-start align-items-lg-start ">
                <h4 class="fs-8 fs-lg-6 text-nowrap lh-base"><i class="bi bi-check2-circle me-2"></i>基礎滑行 - Heel Side
                  落葉飄</h4>
                <span>嘗試在小坡道上進行滑行，學習如何在坡道上保持平衡和控制速度。練習如何在坡道上平穩滑行和轉彎。</span>
              </li>
              <li class="d-flex flex-column gap-2 align-items-start align-items-lg-start ">
                <h4 class="fs-8 fs-lg-6 text-nowrap lh-base"><i class="bi bi-check2-circle me-2"></i>基礎滑行 - Toe Side
                </h4>
                <span>在平地上練習單板的基本滑行技巧。學習如何用腳踝控制單板，保持平衡並前進。</span>
              </li>
              <li class="d-flex flex-column gap-2 align-items-start align-items-lg-start ">
                <h4 class="fs-8 fs-lg-6 text-nowrap lh-base"><i class="bi bi-check2-circle me-2"></i>初步應對不同雪況</h4>
                <span>介紹如何應對不同的雪況，如軟雪和硬雪，並練習調整技巧以適應不同的條件。</span>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="deco-itineraryDetail-courseList-content  p-3 p-lg-6 bg-primary-400 mb-11 position-relative">
            <div class="bg-itineraryDetail-courseListHead mb-8 itineraryDetail-courseListHead list-unstyled d-flex align-items-center gap-4 gap-lg-8">
              <span class="deco-itineraryDetail-courseList fs-6 fs-lg-5 fw-bold text-light lh-1">
                DAY 03
              </span>
              <h3 class="fs-7 fs-lg-4 text-info-100 text-primary-400">進階練習與應用</h3>
            </div>
            <ul class="list-unstyled d-flex flex-column gap-4 gap-lg-8 mb-4 text-info-100">
              <li class="d-flex flex-column gap-2 align-items-start align-items-lg-start fs-8 fs-lg-6">
                <h4 class="fs-8 fs-lg-6 text-nowrap lh-base"><i class="bi bi-check2-circle me-2"></i>坡道滑行 - Toe Side 落葉飄
                </h4>
                <span>嘗試在小坡道上進行滑行，學習如何在坡道上保持平衡和控制速度。練習如何在坡道上平穩滑行和轉彎。</span>
              </li>
              <li class="d-flex flex-column gap-2 align-items-start align-items-lg-start ">
                <h4 class="fs-8 fs-lg-6 text-nowrap lh-base"><i class="bi bi-check2-circle me-2"></i>進階轉彎技巧 - C Turn
                </h4>
                <span>學習更進階的轉彎技巧，如“前腳轉彎”和“後腳轉彎”，提高轉彎的流暢性和控制力。</span>
              </li>
              <li class="d-flex flex-column gap-2 align-items-start align-items-lg-start ">
                <h4 class="fs-8 fs-lg-6 text-nowrap lh-base"><i class="bi bi-check2-circle me-2"></i>坡道挑戰</h4>
                <span>嘗試中等坡度的滑道，練習平穩的轉彎和控制速度，增強對坡道滑行的信心。</span>
              </li>
              <li class="d-flex flex-column gap-2 align-items-start align-items-lg-start ">
                <h4 class="fs-8 fs-lg-6 text-nowrap lh-base"><i class="bi bi-check2-circle me-2"></i>技術綜合應用</h4>
                <span>將所學的技能應用到實際滑雪中，進行綜合練習，並接受教練的反饋和建議以進一步改進技巧。</span>
              </li>
              <li class="d-flex flex-column gap-2 align-items-start align-items-lg-start ">
                <h4 class="fs-8 fs-lg-6 text-nowrap lh-base"><i class="bi bi-check2-circle me-2"></i>安全與技巧回顧</h4>
                <span>強調安全滑雪的基本原則，回顧和鞏固三天的學習成果。</span>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>AOS.init();</script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".itineraryDetail-swiper", {
        slidesPerView: "auto",
        navigation: {
          nextEl: ".itineraryDetail-swiper-next",
          prevEl: ".itineraryDetail-swiper-prev",
        },
      });
    </script>
</body>

</html>