<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <title>苗場滑雪三日行</title>
</head>

<body>
  <section class="header-itinerary-bg mb-6 mb-lg-19">
    <%- include('./layout/header-itinerary'); -%>
      <div class="container py-6 pb-lg-11">
        <ul class="list-unstyled d-flex ls-1 mb-11 fs-9 fs-lg-8">
          <li><a href="##" class="link-light">首頁</a><i class="bi bi-chevron-right text-light mx-2"></i></li>
          <li><a href="##" class="link-light">日本</a><i class="bi bi-chevron-right text-light mx-2"></i></li>
          <li><a href="##" class="link-light">苗場滑雪三日行｜單板初級</a></li>
        </ul>
        <span class="badge bg-danger lh-base mb-2 fs-9 fs-lg-8">已額滿</span>
        <h2 class="text-light fs-6 fs-lg-3 ls-1">苗場滑雪三日行｜單板初級</h2>
      </div>
  </section>
  <section class="mb-6">
    <div class="container">
      <div class="d-flex flex-column flex-lg-row align-items-lg-start gap-4 gap-lg-6">
        <div class="d-flex flex-column  p-3 p-lg-6 bg-primary-400">
          <span class="fs-6 fs-lg-5 fw-semibold text-info-100 mb-4">出發日期：2024 / 12/ 16</span>
          <p class="fs-8 fs-lg-6 ls-lg-1">
            苗場滑雪場是日本知名的滑雪勝地，以其廣闊的雪道和迷人景色著稱。三日行程包含入住豪華王子大飯店，並由專業教練根據每位學員的程度提供量身指導。這趟旅程將幫助您建立單板滑雪的基本技能，讓您自信地在滑雪場上享受各種滑雪興趣，並感受苗場的美麗雪景。
          </p>
        </div>
        <div class="d-flex flex-column p-4 py-lg-10 px-lg-6 col-lg-3">
          <span class="mb-6 fs-5 fw-bold text-info-100">
            <span class="me-3">NT$</span><span class="fs-lg-3 lh-0">28,000</span>
          </span>
          <button class="btn btn-info-200 text-light fs-lg-6 lh-sm">立即預訂</button>
        </div>
      </div>
    </div>
  </section>
  <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>AOS.init();</script>
</body>

</html>