<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="icon" href="../assets/img/snowboarding-icon.png" type="snowpick-icon" />
  <title>雪域狂歡</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <section class="orderPayment-page d-flex align-items-center  align-items-sm-start  py-13 py-lg-19" >
      <div class="container d-flex flex-column align-items-center">
        <h2 class="w-100 p-6 fs-6 fs-lg-4 bg-primary-400 text-center text-info-100 border border-bottom-0">雪域狂歡線上付款說明</h2>
        <div class="w-100 py-12 px-6 mb-8 mb-lg-12 fs-8 fs-lg-6 text-info-100 border">
          <p class="ls-1" style="line-height: 1.7;">王○蓁您好：<br>
            您訂購的苗場滑雪三日行-單板初級，本次應繳金額為<span class="text-danger fw-bold">NT$92,250元整</span>，將透過安全加
            密線上付款系統進行扣款。</p>
          <p>如使用信用卡交易，基於個資保護，您的信用卡資訊並不會保存於本站會員資料庫中。</p>
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary-100 text-light py-3 py-lg-4 px-lg-9 px-7 fs-8 fs-lg-6 lh-sm rounded-3 ls-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          信用卡一次付清
        </button>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header border-0">
                <h5 class="modal-title text-info-100 fw-normal fs-5 ls-1" id="staticBackdropLabel">應付金額<sapn class="fw-bold"> &ensp;NT$92,250</sapn></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form role="form" class="payment-needs-validation" action="orderPayment-paymentComplete.html"
              onsubmit="return validate_form()" novalidate>
                <div class="modal-body pt-0">
                  <div class="row">
                    <div class="col-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div>
                                    <span class="d-inline-block badge py-3 px-4 text-dark my-3 me-4" style="background-color: rgba(255, 193, 7, 0.2); box-shadow: rgba(0,0,0,0.4) 1px 1px 2px 0px inset;">信用卡一次付清</span>
                                    <img class="img-responsive" alt="mastercard" src="../assets/img/master.png" style="width: 45px;">
                                    <img class="img-responsive me-1" alt="visa" src="../assets/img/visa.png" style="width: 55px;">
                                    <img class="img-responsive" alt="jcb" src="../assets/img/JCB.jfif" style="width: 35px;">
                                </div>
                            </div>
                            <div class="panel-body mt-5">
                                    <div class="row g-4">
                                        <div class="col-12">
                                          <h3 class="text-primary fs-7 ls-1">※ 信用卡交易資訊 <span class="payment-show"> Credit card information</span></h3>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label class="text-info-100 mb-1 ls-1 fw-medium">信用卡卡號<span class="text-danger" style="margin-left: 2px;">*</span></label>
                                                <div class="input-group">
                                                    <input type="tel" class="form-control bg-light rounded-1" style="box-shadow: rgba(0,0,0,0.4) 1px 1px 2px 0px inset;" required value="1234">
                                                    <span class="input-group-text bg-white border-0 px-1">–</span>
                                                    <input type="tel" class="form-control bg-light rounded-1" style="box-shadow: rgba(0,0,0,0.4) 1px 1px 2px 0px inset;" required value="0000">
                                                    <span class="input-group-text bg-white border-0 fw-bold px-1">–</span>
                                                    <input type="tel" class="form-control bg-light rounded-1" style="box-shadow: rgba(0,0,0,0.4) 1px 1px 2px 0px inset;" required value="6666">
                                                    <span class="input-group-text bg-white border-0 fw-bold px-1">–</span>
                                                    <input type="tel" class="form-control bg-light rounded-1" style="box-shadow: rgba(0,0,0,0.4) 1px 1px 2px 0px inset;" required value="4321">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="text-info-100 mb-2 fw-medium ls-1">卡片有效期限<span class="text-danger" style="margin-left: 2px;">*</span></label>
                                                <div class="input-group">
                                                  <input type="tel" class="form-control bg-light rounded-1" placeholder="MM"  style="box-shadow: rgba(0,0,0,0.4) 1px 1px 2px 0px inset;" required value="01">
                                                  <span class="input-group-text bg-white border-0 fw-bold"></span>
                                                  <input type="tel" class="form-control bg-light rounded-1" placeholder="YY"  style="box-shadow: rgba(0,0,0,0.4) 1px 1px 2px 0px inset;" required>
                                                </div>    
                                              </div>
                                        </div>
                                        <div class="col-12 row mt-4">
                                            <div class="form-group col-5">
                                                <label class="text-info-100 mb-2 fw-medium ls-1"><span class="payment-show">信用卡</span>安全碼<span class="text-danger" style="margin-left: 2px;">*</span></label>
                                                <div class="input-group">
                                                  <input type="tel" class="form-control bg-light rounded-1" style="box-shadow: rgba(0,0,0,0.4) 1px 1px 2px 0px inset;" value="555"  required>
                                                  <img src="../assets/img/ccv.png" alt="ccv" class="ccv-img input-group-text bg-white border-0">
                                                </div>
                                              </div>
                                        </div>
                                        <div class="col-12">
                                          <h3 class="text-primary fs-7 pt-4 ls-1" \>※ 持卡人資料<span class="payment-show">Cardholder Information</span></h3>
                                        </div>
                                        <div class="col-5">
                                            <div class="form-group">
                                                <label class="text-info-100 mb-2 fw-medium ls-1">持卡人姓名<span class="text-danger" style="margin-left: 2px;">*</span></label>
                                                <input type="text" class="form-control bg-light rounded-1"  style="box-shadow: rgba(0,0,0,0.4) 1px 1px 2px 0px inset;" required value="王怡蓁">
                                            </div>
                                        </div>
                                        <div class="col-7">
                                          <div class="form-group">
                                              <label class="text-info-100 mb-2 fw-medium ls-1">手機號碼<span class="text-danger" style="margin-left: 2px;">*</span></label>
                                              <input type="tel" class="form-control bg-light rounded-1"  style="box-shadow: rgba(0,0,0,0.4) 1px 1px 2px 0px inset;" required value="0919999999">
                                          </div>
                                        </div>
                                        <!-- <div class="col-12">
                                          <div class="form-group">
                                              <label class="text-info-100 mb-2 fw-medium ls-1">電子郵件</label>
                                              <input type="email" class="form-control bg-light rounded-1"  style="box-shadow: rgba(0,0,0,0.4) 1px 1px 2px 0px inset;">
                                          </div>
                                        </div> -->
                                        <div class="col-12">
                                          <div class="form-check pt-4">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                                            <label class="form-check-label text-danger" for="flexCheckDefault">
                                              請再次確認您的「應付金額」及「付款資訊」，提醒您：我們不會主動與您聯繫要求執行ATM轉帳或提供個人資料。
                                            </label>
                                          </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer border-0">
                  <button class="btn btn-warning btn-lg btn-block px-6 mb-3 me-3" type="submit">確認付款</button>
                </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script>
        (function () {
          'use strict'
          const forms = document.querySelectorAll('.payment-needs-validation')
          Array.from(forms)
            .forEach(function (form) {
              form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                  event.preventDefault()
                  event.stopPropagation()
                }
                form.classList.add('was-validated')
              }, false)
            })
        })()
      </script>
      <script>AOS.init();</script>
</body>

</html>