<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
  <title>雪域狂歡</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <section class="userAccount-page py-11 py-lg-16 d-flex flex-column align-items-center">
      <div class="container d-flex flex-column align-items-center">
        <div class="bg-primary-300 col-12 col-lg-8 py-10 px-3 p-md-16 rounded-5">
          <form action="get" class="caption-top mb-0">
            <div class="container d-flex flex-column" id="register-memberInfo-page">
              <div class="row gy-4 gy-lg-6 mb-11 text-info-100">
                <div class="col-12">
                  <h2>註冊會員</h2>
                </div>
                <div class="col-md-6">
                  <label class="form-label" for="account-register-chineseName">中文姓名<span
                      class="ms-1 text-danger">*</span></label>
                  <input class="form-control" type="text" id="account-register-chineseName">
                </div>
                <div class="col-12 mt-0 d-md-none">
                  <span class="text-danger text-nowarp fs-9">*注意一旦送出註冊後，無法自行修改姓名資訊</span><br>
                  <span class="text-info-200 fs-9">請填寫真實姓名，做為日後身分認證和行程註冊依據</span>
                </div>
                <div class="col-md-6">
                  <label class="form-label" for="account-register-passportNameEN">護照英文姓名<span
                      class="ms-1 text-danger">*</span></label>
                  <input class="form-control" type="text" id="account-register-passportNameEN">
                </div>
                <div class="col-12 mt-0 d-none d-md-block">
                  <span class="text-danger text-nowarp fs-9">*注意一旦送出註冊後，無法自行修改姓名資訊</span><br>
                  <span class="text-info-200 fs-9">請填寫真實姓名，做為日後身分認證和行程註冊依據</span>
                </div>
                <div class="col-md-4">
                  <fieldset>
                    <legend class="fs-8">性別</legend>
                    <div class="form-check-inline">
                      <input class="form-check-input" type="radio" name="account-register-gender"
                        id="account-register-gender-male" checked>
                      <label class="form-check-label" for="account-register-gender-male">
                        男性
                      </label>
                    </div>
                    <div class="form-check-inline">
                      <input class="form-check-input" type="radio" name="account-register-gender"
                        id="account-register-gender-female">
                      <label class="form-check-label" for="account-register-gender-female">
                        女性
                      </label>
                    </div>
                  </fieldset>
                </div>
                <div class="col-md-8">
                  <label class="form-label" for="account-register-birthday">生日</label>
                  <input class="form-control" type="date" id="account-register-birthday">
                  <span class="text-danger fs-9 d-none">無效的日期</span>
                </div>
                <div class="col-12">
                  <label class="form-label" for="account-register-email">電子信箱<span
                      class="ms-1 text-danger">*</span></label>
                  <input class="form-control" type="email" id="account-register-email">
                  <span class="text-danger fs-9 d-none">錯誤的電子郵件格式</span>
                </div>
                <div class="col-md-6">
                  <label class="form-label" for="account-register-cellPhone">行動電話<span
                      class="ms-1 text-danger">*</span></label>
                  <input class="form-control" type="tel" id="account-register-cellPhone">
                  <span class="text-danger fs-9 d-none">錯誤的行動電話格式</span>
                </div>
                <div class="col-md-6">
                  <label class="form-label" for="account-register-telephone">市話</label>
                  <input class="form-control" type="tel" id="account-register-telephone">
                  <span class="text-danger fs-9 d-none">錯誤的市話格式</span>
                </div>
                <div class="col-12">
                  <label class="form-label" for="account-register-passwd">密碼<span
                      class="ms-1 text-danger">*</span></label>
                  <input class="form-control" type="password" id="account-register-passwd">
                  <span class="text-danger fs-9 d-none">需至少使用8個字元，包含大寫、小寫字母以及數字</span>
                </div>
                <div class="col-12">
                  <label class="form-label" for="account-register-passwdConfirm">密碼<span
                      class="ms-1 text-danger">*</span></label>
                  <input class="form-control" type="password" id="account-register-passwdConfirm">
                  <span class="text-danger fs-9 d-none">密碼有誤，請在試一次</span>
                </div>
              </div>
              <div class="d-flex justify-content-center mb-3 form-check fs-9 fs-md-8">
                <input type="checkbox" class="form-check-input" id="register-memberPrivacyAgreement">
                <label class="form-check-label" for="register-memberPrivacyAgreement">同意<a href="##"
                    class="text-decoration-underline">雪域會員約定事項</a>和<a href="## "
                    class="text-decoration-underline">隱私權保護政策</a></label>
              </div>
              <button class="btn btn-primary-100 text-light py-2 px-4 ms-auto rounded-2" type="button"
                id="register-nextStepBTN">下一步</button>
            </div>
            <div class="container d-flex flex-column d-none" id="register-skiSkillLV-page">
              <h2 class="mb-4 text-info-100">滑雪等級</h2>
              <div class="row gy-4 mb-4 mb-lg-6">
                <div class="col-sm-6 px-6">
                  <label class="form-label text-info-100">單板等級</label>
                  <select class="form-select border-info-200 rounded-0 text-info-200" aria-label="snowboard-skiSkillLV"
                    required>
                    <option selected>請選擇您的單板等級</option>
                    <option value="1">level 1</option>
                    <option value="2">level 2</option>
                    <option value="3">level 3</option>
                    <option value="4">level 4</option>
                    <option value="5">level 5</option>
                    <option value="6">level 6</option>
                  </select>
                </div>
                <div class="col-sm-6 px-6">
                  <label class="form-label text-info-100">雙板等級</label>
                  <select class="form-select border-info-200 rounded-0 text-info-200" aria-label="skis-skiSkillLV"
                    required>
                    <option selected>請選擇您的雙板等級</option>
                    <option value="1">level 1</option>
                    <option value="2">level 2</option>
                    <option value="3">level 3</option>
                    <option value="4">level 4</option>
                    <option value="5">level 5</option>
                    <option value="6">level 6</option>
                  </select>
                </div>
              </div>
              <div class="register-ski-self-evaluation-form text-center fs-10 fs-lg-8 mb-4">
                <table class="table align-middleclearq table-striped">
                  <thead class="table-dark tableHead text-white border-0 fs-6">
                    <tr>
                      <th class="col-5 fs-8 fs-lg-6" scope="col">單板SnowBoard</th>
                      <th class="col-2 fs-8 fs-lg-6" scope="col">Level</th>
                      <th class="col-5 fs-8 fs-lg-6" scope="col">雙板Ski</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>第一次滑雪</td>
                      <th scope="row">1</th>
                      <td>第一次滑雪</td>
                    </tr>
                    <tr>
                      <td>可以Heel side or Toe side站立、滑行與煞車
                      </td>
                      <th scope="row">2</th>
                      <td>可以內八字煞車在初級道(綠線)連續轉彎
                      </td>
                    </tr>
                    <tr>
                      <td>可以穩定Heel side or Toe side落葉飄及C turn轉向
                      </td>
                      <th scope="row">3</th>
                      <td>可以在中級道(紅/藍線)連續轉彎</td>
                    </tr>

                    <tr>
                      <td>可以在初級道(綠線)連續S turn
                      </td>
                      <th scope="row">4</th>
                      <td>可以在初級道(綠線)連續平行/併腿連續轉彎
                      </td>
                    </tr>

                    <tr>
                      <td>可以在中級道(紅/藍線)連續S turn
                      </td>
                      <th scope="row">5</th>
                      <td>可以在中級道(紅/藍線)連續平行/併腿連續轉彎
                      </td>
                    </tr>

                    <tr>
                      <td>可以在高階道(黑線)連續S turn及其他進階技術
                      </td>
                      <th scope="row">6</th>
                      <td>可以在高階道(黑線)連續平行/併腿連續轉彎及其他進階技術
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
              <a href="##" class="btn btn-primary-100 py-2 px-4 text-light ms-auto rounded-2">註冊</a>
            </div>
          </form>
        </div>
      </div>
    </section>
    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script>AOS.init();</script>

      <script>
        document.getElementById('register-nextStepBTN').addEventListener('click', function (event) {
          const registerAllInput = ["account-register-chineseName", "account-register-passportNameEN"
            , "account-register-birthday", "account-register-email", "account-register-cellPhone"
            , "account-register-telephone", "account-register-passwd", "account-register-passwdConfirm"];
          const registerMemberPrivacyAgreement = document.getElementById("register-memberPrivacyAgreement");
          let isInformationCorrect = true;
          for (let i = 0; i < registerAllInput.length; i++) {
            const input = document.getElementById(registerAllInput[i]);
            const inputType = input.getAttribute('type');
            const inputValue = input.value.trim();
            if (inputValue === '') {
              input.classList.add('is-invalid');
              const errorMsg = input.nextElementSibling;
              if (i !== 0 && i !== 1) {
                errorMsg.classList.remove('d-none');
                errorMsg.classList.add('d-block');
              }
              isInformationCorrect = false;
              event.preventDefault();
            } else {
              input.classList.remove('is-invalid');
              const errorMsg = input.nextElementSibling;
              if (i !== 0 && i !== 1) {
                errorMsg.classList.remove('d-block');
                errorMsg.classList.add('d-none');
              }
            }
          }
          console.log(isInformationCorrect);
          if (isInformationCorrect) {
            if (registerMemberPrivacyAgreement.checked) {
              const registerMemberInfoPage = document.getElementById("register-memberInfo-page")
              const registerSkiSkillLVPage = document.getElementById("register-skiSkillLV-page")
              registerMemberInfoPage.classList.add('d-none');
              registerSkiSkillLVPage.classList.remove('d-none');
            }
            else {
              alert("請同意雪域會員約定事項和隱私權保護政策以進行下一步驟")
            }
          }
        });
      </script>
</body>

</html>