<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="icon" href="../assets/img/snowboarding-icon.png" type="snowpick-icon" />
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
  <link rel="icon" href="../assets/img/snowboarding-icon.png" type="snowpick-icon" />
  <title>忘記密碼-雪域狂歡</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <section class="userAccount-page py-11 py-lg-16 d-flex flex-column align-items-center">
      <div class="container d-flex flex-column align-items-center">
        <div class="col-12 col-sm-10 col-lg-6 p-11 bg-primary-400 shadow rounded-5 border">
          <h2 class="text-info-100 mb-4 mb-lg-6 fs-5 fs-lg-3 ">忘記密碼</h2>
          <form action="get">
            <div class="mb-4 mb-lg-6">
              <label for="forgetPasswd-emailVerify" class="form-label">請輸入你的電子郵件信箱</label>
              <input type="email" class="form-control text-info-100" id="forgetPasswd-emailVerify" aria-describedby="emailHelp">
              <span class="text-danger mt-2 d-none" id="forgetPasswd-emailVerify-errorMsg">帳號不存在或輸入錯誤，<a href="mailto:snowpick@gamil.com" class="link-primary text-decoration-underline">需要協助?</a></span>
            </div>
            <div class="d-flex justify-content-end align-items-center gap-4">
              <a href="./userAccount-login.html" class="forgetPasswd-cancelBtn rounded-2 py-2 px-4">取消</a>
              <a href="./userAccount-forgetPasswd-verifyInfo.html" id="forgetPasswd-submitBtn" class="btn btn-primary-100 py-2 px-4 rounded-2 text-light">送出</a>
            </div>
          </form>
        </div>
      </div>
    </section>
    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script>AOS.init();</script>
      <script>
        document.getElementById('forgetPasswd-submitBtn').addEventListener('click', function(event) {
            const input = document.getElementById('forgetPasswd-emailVerify');
            const inputType = input.getAttribute('type');
            const inputValue = input.value.trim();
            const errorMsg = document.getElementById('forgetPasswd-emailVerify-errorMsg');
            if (inputValue === '') {
                input.classList.add('is-invalid');
                errorMsg.classList.remove('d-none');
                errorMsg.classList.add('d-block');
                event.preventDefault();
            } else {
                input.classList.remove('is-invalid');
                rrorMsg.classList.remove('d-block');
                errorMsg.classList.add('d-none');
            }
        });
      </script>
</body>

</html>